@import '../common/variables';
@import '../common/responsive';
@import '../common/fonts/icon-font';
@import '../common/typography';

.site-header {
  background-color: $off-black;
  color: $white;
  padding: 0.5em 2em;
  display: block;

  &.fullscreen {
    display: none;
  }

  .logo {
    height: 55px;
    width: 55px;
    margin-right: 1em;
    display: none;

    @include respond-to(tablet, desktop) {
      display: block;
      float: left;
    }
  }

  .site-menu-toggle {
    color: $white;
    text-transform: uppercase;
    padding: 0.5em 1em;
    border: none;
    background-color: transparent;
    margin: 0;
    cursor: pointer;

    @include respond-to(tablet, desktop) {
      display: none;
    }
  }

  .site-menu-toggle-icon {
    @include font-scale(3);

    padding-right: 0.5em;
  }

  .site-menu {
    display: block;
    vertical-align: top;
  }

  .menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;

      @include respond-to(tablet, desktop) {
        display: inline-block;
      }
    }

    &.open {
      display: inline;
    }

    @include respond-to(tablet, desktop) {
      display: inline;
    }
  }

  .menu-title {
    vertical-align: middle;
  }

  .menu-item {
    display: inline-block;
    color: $mid-grey;
    text-transform: uppercase;
    padding: 1em;
    margin-right: 1em;
    text-decoration: none;

    &:hover {
      .menu-icon {
        transition: color 0.2s ease-in-out;
        color: $white;
      }

      .menu-title {
        transition: color 0.2s ease-in-out;
        color: $white;
      }
    }

    &.active {
      color: $white;

      .menu-icon {
        color: $white;
      }

      &:hover {
        cursor: default;

        .menu-title {
          color: $white;
        }
      }
    }
  }

  .menu-icon {
    @include font-scale(3);

    color: $mid-grey;
    vertical-align: middle;

    &::before {
      padding-right: 0.5em;
    }
  }
}
