@import '../common/variables';
@import '../common/responsive';
@import '../common/fonts/icon-font';
@import '../common/typography';
@import '../common/accessibility';
@import '../common/forms/button';

.siteHeader {
  background-color: $off-black;
  color: $white;
  display: block;
  z-index: $header-footer-index;
}

.inner {
  align-items: center;
  display: flex;
  max-width: $max-page-width;
  padding: 0;

  @include respond-to(tablet, desktop) {
    margin: 0 auto;
    padding: 0 2em;
  }
}

.hide {
  display: none;
}

.logo {
  display: none;

  @include respond-to(tablet, desktop) {
    display: block;
    height: 55px;
    margin-right: 1em;
    width: 55px;
  }
}

.nav {
  width: 100%;

  @include respond-to(very-small) {
    overflow: scroll;
  }
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    flex-grow: 1;
  }

  @include respond-to(tablet, desktop) {
    display: block;
  }
}

.menuTitle {
  background-color: inherit;
  color: inherit;
  display: inline;
  vertical-align: middle;
}

.menuItem {
  color: $white;
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  width: 100%;

  &:visited {
    color: $white;
  }

  &:not(.active) {
    @include interactive(
      $color: $white,
      $background-color: $off-black,
      $border-color: transparent);
  }
}

.helpButton {
  @extend .menuItem;

  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 73px;
  text-align: left;
}

.menuIcon {
  @include font-scale(3);

  background-color: inherit;
  color: inherit;
  vertical-align: middle;

  &::before {
    padding-right: 0.5em;
  }
}

.active {
  background-color: $white;
  color: $off-black;

  &:visited {
    color: $off-black;
  }

  &:hover,
  &:focus {
    background-color: $white;
    color: $off-black;
    cursor: default;
  }
}

.monitor {
  @extend .icon-display;
}

.settings {
  @extend .icon-cog;
}

.help {
  @extend .icon-question;
}
