@import '../common/variables';
@import '../common/responsive';
@import '../common/fonts/icon-font';
@import '../common/typography';
@import '../common/accessibility';

.siteHeader {
  background-color: $off-black;
  color: $white;
  display: block;
  padding: 0.5em 1em;

  @include respond-to(tablet, desktop) {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.fullscreen {
  display: none;
}

.title {
  @extend %visuallyHidden;
}

.subTitle {
  @extend %visuallyHidden;
}

.logo {
  display: none;
  height: 55px;
  margin-right: 1em;
  width: 55px;

  @include respond-to(tablet, desktop) {
    display: block;
    float: left;
  }
}

.siteMenuToggle {
  background-color: transparent;
  border: none;
  color: $white;
  cursor: pointer;
  margin: 0;
  padding: 0.5em 1em;
  text-transform: uppercase;

  @include respond-to(tablet, desktop) {
    display: none;
  }
}

%siteMenuToggleIcon {
  @include font-scale(3);

  @extend .icon;

  padding-right: 0.5em;
}

.siteMenuShow {
  @extend %siteMenuToggleIcon;
  @extend .icon-menu3;
}

.siteMenuHide {
  @extend %siteMenuToggleIcon;
  @extend .icon-menu4;
}

.siteMenu {
  display: block;
  vertical-align: top;
}

.menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;

    @include respond-to(tablet, desktop) {
      display: inline-block;
    }
  }

  @include respond-to(tablet, desktop) {
    display: inline;
  }
}

.open {
  display: inline;
}

.menuTitle {
  background-color: inherit;
  color: inherit;
  vertical-align: middle;
}

.menuItem {
  color: $mid-grey;
  display: inline-block;
  margin-right: 1em;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;

  &:not(.active) {
    @include interactive($white, $off-black, $off-black);
  }
}

.menuIcon {
  @include font-scale(3);

  background-color: inherit;
  color: inherit;
  vertical-align: middle;

  &::before {
    padding-right: 0.5em;
  }
}

.active {
  color: $white;

  .menuIcon {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $off-black;
    color: $white;
    cursor: default;
  }
}

.monitor {
  @extend .icon;
  @extend .icon-eye;
}

.tracking {
  @extend .icon;
  @extend .icon-eye-plus;
}

.success {
  @extend .icon;
  @extend .icon-checkmark;
}

.settings {
  @extend .icon;
  @extend .icon-cog;
}

.backup {
  @extend .icon;
  @extend .icon-floppy-disk;
}

.help {
  @extend .icon;
  @extend .icon-question;
}
