@import '../../common/variables';
@import '../../common/responsive';
@import '../../common/accessibility';
@import '../../common/layout';

.availableProjects {
  display: inline-block;
  width: 100%;
}

.legend {
  @extend %visually-hidden;
}

.controls {
  @include respond-to(very-small) {
    overflow: scroll;
  }
}

.toggles {
  display: block;
  width: 100%;

  @include respond-to(tablet, desktop) {
    display: inline-block;
    width: auto;
  }
}

.includeAll {
  @include respond-to(tablet, desktop) {
    margin: $margin-top $margin-right 0 0;
  }
}

.excludeAll {
  @include respond-to(tablet, desktop) {
    margin: $margin-top $margin-right 0 0;
  }
}

.buildItems {
  display: block;
  list-style: none;
  overflow: hidden; // required to give this element a height as its items are floating
  width: 100%;

  @include respond-to(very-small) {
    overflow: scroll;
  }
}

.projectFilter {
  display: block;
  width: 100%;

  @include respond-to(tablet, desktop) {
    display: inline-block;
    margin: $margin-top 0 0 0;
    width: auto;
  }
}

.projectFilterInput {
  @include respond-to(tablet, desktop) {
    margin-top: 0;
  }
}

.backToTop {
  @include respond-to(tablet, desktop) {
    display: none;
  }
}
