@import '../../common/variables';
@import '../../common/forms/button';
@import '../../common/responsive';

.available-projects {
  display: inline-block;
  width: 100%;
  padding: 1em;

  .legend {
    color: $mid-grey;
    padding-bottom: 1em;

    @include respond-to(tablet, desktop) {
      padding-bottom: 0;
      padding-right: 1em;
      float: left;
    }
  }

  .toggles {
    display: block;
    width: 100%;

    @include respond-to(tablet, desktop) {
      display: inline-block;
      width: auto;
    }
  }

  .include-all {
    @include button-icon('checkbox-checked');
  }

  .exclude-all {
    @include button-icon('checkbox-unchecked');
  }

  .include-all,
  .exclude-all {
    @extend .button;

    display: block;
    width: 100%;
    margin-bottom: 1em;

    @include respond-to(tablet, desktop) {
      display: inline-block;
      width: auto;
      margin-right: 1em;
      margin-bottom: 0;
    }
  }

  .controls {
    padding-bottom: 1em;
  }

  .build-items {
    display: block;
    width: 100%;
    list-style: none;
  }

  .project-filter {
    display: block;
    width: 100%;
    padding: 0.5em 0;

    @include respond-to(tablet, desktop) {
      display: inline-block;
      width: auto;
    }

    label {
      color: $mid-grey;
    }
  }

  .messages {
    margin-top: 1em;
  }
}
