@import '../../common/variables';
@import '~bourbon-neat/core/neat';
@import '../../common/responsive';
@import '../../common/typography';

.availableProject {
  @include grid-column(4 of 4);
  @include font-scale(1);

  padding-top: 3px;

  @include respond-to(tablet) {
    @include grid-column(4 of 8);
  }

  @include respond-to(desktop) {
    @include grid-column(4 of 12);
  }

  @include respond-to(tablet, desktop) {
    @include font-scale(0);
  }
}

.name {
  display: inline;
}

.removedProject {
  & .name {
    text-decoration: line-through;
  }
}

%info {
  @include font-scale(-1);

  border-radius: 1px;
  margin-right: 0.5em;
  padding: 0.2em 0.5em;
  text-transform: uppercase;
}

.infoRemoved {
  @extend %info;

  background-color: $mid-grey;
  color: $white;
  display: inline;
}

.infoNew {
  @extend %info;

  background-color: $yellow;
  color: $off-black;
  display: inline;
}
