@import '../../common/variables';
@import '../../common/forms/button';

.available-projects {
  border: none;
  margin: 1em;
  padding: 0;

  .legend {
    color: $mid-grey;
    float: left;
  }

  .toggles {
    float: left;
    position: relative;
    top: -0.5em;
    margin-left: 1em;
  }

  .include-all {
    @include button-icon('checkbox-checked');

    @extend .button;
  }

  .exclude-all {
    @include button-icon('checkbox-unchecked');

    @extend .button;
  }

  .build-items {
    clear: both;
    list-style: none;
  }

  .project-filter {
    padding-left: 1em;

    label {
      color: $mid-grey;
    }
  }
}
