@import '../../common/responsive';
@import '../../common/variables';
@import '../../common/typography';
@import '../../common/layout';

.refresh {
  @extend %inline-margin;
  @extend %first;
}

.lastFetch {
  @include font-scale(1);

  color: $mid-grey;
  display: block;
  margin: $margin-top 0 0 0;

  @include respond-to(tablet, desktop) {
    display: inline-block;
    margin: 0;
  }
}
