@import '../../common/forms/button';
@import '../../common/responsive';
@import '../../common/variables';
@import '../../common/typography';

.refresh {
  @include button-icon('loop2');
  @include button();

  margin-bottom: 1em;

  @include respond-to(tablet, desktop) {
    margin-bottom: 0;
    margin-right: 1em;
  }
}

.lastFetch {
  @include font-scale(1);

  color: $mid-grey;
  display: block;

  @include respond-to(tablet, desktop) {
    display: inline-block;
  }
}
