@import '../../common/responsive';
@import '../../common/variables';
@import '../../common/typography';

.refresh {
  @include respond-to(tablet, desktop) {
    display: inline-block;
    margin: 0 $margin-right 0 0;
  }
}

.lastFetch {
  color: $mid-grey;
  display: block;
  margin: $margin-top 0 0 0;

  @include respond-to(tablet, desktop) {
    display: inline-block;
    margin: 0;
  }
}
