@import '../../common/forms/button';
@import '../../common/responsive';

.tray-sub-bar {
  .show-settings {
    @include button-icon('cog');
  }

  .refresh {
    @include button-icon('loop2');
  }

  .show-settings,
  .refresh {
    @extend .button;

    margin-bottom: 1em;

    @include respond-to(tablet, desktop) {
      margin-right: 1em;
      margin-bottom: 0;
    }
  }

  .tray-refresh-last-fetch {
    display: block;

    @include respond-to(tablet, desktop) {
      display: inline-block;
    }
  }
}
