@import '../../../common/variables';
@import '../../../common/layout';
@import '../../../common/forms/button';

$button-size: 220px;

.page {
  background: $white;
}

.header {
  background-color: $light-grey;
  padding: 1em;
}

.body {
  padding: 1em;
}

.buttons {
  margin: $margin-top * 2 0 0 0;
}

.exportInput {
  margin: $margin-top 0 0 0;
}

.confirm,
.saveFile,
.copy {
  @extend %inline;

  min-width: $button-size;
}
