@import '../../../common/variables';
@import '../../../common/responsive';
@import '../../../common/typography';

.name {
  display: inline;
}

.removedProject {
  & .name {
    text-decoration: line-through;
  }
}

%info {
  @include font-scale(-1);

  border-radius: 1px;
  margin-right: 0.5em;
  padding: 0.2em 0.5em;
  text-transform: uppercase;
}

.infoRemoved {
  @extend %info;

  background-color: $mid-grey;
  color: $white;
  display: inline;
}

.infoNew {
  @extend %info;

  background-color: $yellow;
  color: $off-black;
  display: inline;
}

.checkbox {
  margin: 0;
}
