<configuration packagingData="true">
  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSSZ"} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.apache.http" level="info"/>
  <logger name="org.apache.http.headers" level="info"/>
  <logger name="org.apache.http.wire" level="info"/>

  <root level="debug">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
