@import '../../common/typography';
@import '../../common/variables';
@import '../../common/layout';

.container {
  border: 1px solid $light-grey;
  margin-top: $margin-top;
  padding: 1em;
}

.legend {
  @include font-scale(1);
}

.options {
  @extend %two-column-grid;
}

.checkbox {
  margin: 0;
}
