@import '../../common/variables';
@import '../../common/responsive';

.dropDownLabel {
  @include respond-to(tablet, desktop) {
    display: inline-block;
    width: 12em;
  }
}

.dropDown {
  @include respond-to(tablet, desktop) {
    width: 20em;
  }
}

.preview {
  margin-top: $margin-top;
}
