@use '../colours';
@use '../responsive';
@use '../layout';

$standard-input-size-mobile: 40px;
$standard-input-size-above-mobile: 44px;

@mixin standard-input-dimensions($fix-width: false, $adjust-px: 0) {
  height: $standard-input-size-mobile - $adjust-px;
  min-height: $standard-input-size-mobile - $adjust-px;

  @if $fix-width {
    min-width: $standard-input-size-mobile - $adjust-px;
    width: $standard-input-size-mobile - $adjust-px;
  }

  @include responsive.respond-to(tablet, desktop) {
    height: $standard-input-size-above-mobile - $adjust-px;
    min-height: $standard-input-size-above-mobile - $adjust-px;

    @if $fix-width {
      min-width: $standard-input-size-above-mobile - $adjust-px;
      width: $standard-input-size-above-mobile - $adjust-px;
    }
  }
}
