@import '../variables';
@import '../forms/forms';
@import '../accessibility';
@import '../typography';

@mixin button-interaction($color: $off-black, $background-color: $white, $border-color: $light-grey) {
  &:enabled,
  &[href] {
    box-shadow: $shadow;
    cursor: pointer;
    transition: box-shadow 0.1s ease-in;

    @include interactive($color, $background-color, $border-color) {
      box-shadow: $focus-shadow;
    }
  }
}

@mixin button($color: $off-black, $background-color: $white, $border-color: $light-grey) {
  @include button-interaction($color, $background-color, $border-color);
  @include standard-input-dimensions;

  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  color: $color;
  display: block;
  margin: $margin-top 0 0 0;
  overflow: hidden;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  width: 100%;

  &:disabled {
    background-color: $light-grey;
    color: $mid-grey;
    cursor: default;
  }

  @include respond-to(tablet, desktop) {
    display: inline-block;
    margin: 0;
    width: auto;
  }
}

.transparent {
  @include button($color: inherit, $background-color: transparent, $border-color: transparent);

  &:enabled {
    box-shadow: none;
  }
}

.primary {
  @include button($off-white, $blue, $blue);
}

.secondary {
  @include button;
}

.danger {
  @include button($white, $error, $error);
}

.iconOnly {
  @include standard-input-dimensions(true);

  margin: 0;
  padding: 0.5em;

  & > svg {
    margin: 0;
  }
}

.inputButton {
  border-left: none;
  border-radius: 0 $border-radius $border-radius 0;

  &:enabled {
    box-shadow: none;
  }
}
