@import '../variables';
@import '../responsive';
@import '../fonts/icon-font';
@import '../typography';
@import '../accessibility';

@mixin button-icon($icon) {
  @extend .icon-#{$icon};

  &::before {
    margin-right: 1em;
  }
}

@mixin icon-only-button($icon) {
  @include button-icon($icon);

  padding: 0.5em;
  width: auto;

  &::before {
    margin: 0;
  }

  * {
    @extend %visuallyHidden;
  }
}

@mixin buttonInteraction($color:$off-black, $background-color:$white, $border-color:$light-grey) {
  &:enabled {
    box-shadow: $shadow;
    cursor: pointer;
    transition: box-shadow 0.1s ease-in;

    @include interactive($color, $background-color, $border-color) {
      box-shadow: $focus-shadow;
    }
  }
}

.primaryButton {
  @include buttonInteraction($off-white, $blue, $blue);

  background-color: $blue;
  border-color: $blue;
  color: $off-white;
}

.dangerButton {
  @include buttonInteraction($white, $error, $error);

  background-color: $error;
  border-color: $error;
  color: $white;
}
