@import '../variables';
@import '../responsive';
@import '../fonts/icon-font';
@import '../typography';

.button {
  @include font-scale(0);

  display: block;
  position: relative;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  padding: 0.5em 1.5em 0.5em 1em;
  border-radius: 2px;
  text-transform: capitalize;
  text-decoration: none;
  background-color: $white;
  color: $off-black;
  width: 100%;

  &:enabled {
    cursor: pointer;
    transition: background-color 0.1s ease-in, box-shadow 0.1s ease-in;
    box-shadow: $shadow;

    &:hover,
    &:focus {
      background-color: darken($white, 8%);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26);
      border-radius: 0;
    }
  }

  &:disabled {
    cursor: default;
    color: $mid-grey;
    background-color: $light-grey;
  }

  @include respond-to(tablet, desktop) {
    display: inline-block;
    width: auto;
  }
}

.button-primary {
  @extend .button;

  @include font-scale(1);

  background-color: $blue;
  color: $off-white;

  &:enabled {
    &:hover,
    &:focus {
      background-color: darken($blue, 8%);
    }
  }
}

@mixin button-icon($icon) {
  @extend .icon-#{$icon};

  &::before {
    @extend .icon;

    margin-right: 1em;
  }
}
