@use 'sass:color';
@use '../colours';
@use '../accessibility';
@use '../typography';
@use '../responsive';
@use '../layout';
@use 'forms';

@mixin button-interaction(
  $color: colours.$off-black,
  $background-color: colours.$white,
  $border-color: colours.$light-grey
) {
  &:enabled,
  &[href] {
    box-shadow: colours.$shadow;
    cursor: pointer;
    transition: box-shadow 0.1s ease-in;

    @include accessibility.interactive(
      $color,
      $background-color,
      $border-color
    ) {
      box-shadow: 0 4px 8px 0 color.adjust(colours.$black, $alpha: -0.74);
    }
  }
}

@mixin button(
  $color: colours.$off-black,
  $background-color: colours.$white,
  $border-color: colours.$light-grey
) {
  @include button-interaction($color, $background-color, $border-color);
  @include forms.standard-input-dimensions;

  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: colours.$border-radius;
  color: $color;
  display: block;
  margin: layout.$spacing-height 0 0 0;
  overflow: hidden;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  width: 100%;

  &:disabled {
    background-color: colours.$light-grey;
    color: colours.$mid-grey;
    cursor: default;
  }

  @include responsive.respond-to(tablet, desktop) {
    display: inline-block;
    margin: 0;
    width: auto;
  }
}

.transparent {
  @include button(
    $color: inherit,
    $background-color: transparent,
    $border-color: transparent
  );

  &:enabled {
    box-shadow: none;
  }
}

.primary {
  @include button(colours.$off-white, colours.$blue, colours.$blue);
}

.secondary {
  @include button;
}

.danger {
  @include button(colours.$white, colours.$error, colours.$error);
}

.iconOnly {
  @include forms.standard-input-dimensions(true);

  margin: 0;
  padding: 0.5em;

  & > svg {
    margin: 0;
  }
}

.inputButton {
  border-left: none;
  border-radius: 0 colours.$border-radius colours.$border-radius 0;

  &:enabled {
    box-shadow: none;
  }
}
