@use 'sass:color';
@import '../variables';
@import '../typography';
@import '../accessibility';
@import '../responsive';
@import './forms';

.container {
  @include standard-input-dimensions;

  display: block;
  height: auto;
  margin: $margin-top 0 0 0;
  width: 100%;

  @include respond-to(tablet, desktop) {
    width: fit-content;
  }
}

.checkbox {
  display: block;
  line-height: initial;
  padding: 0 0 0 40px;
  position: relative;

  @include respond-to(tablet, desktop) {
    padding: 0 0 0 44px;
  }
}

.children {
  cursor: pointer;
  display: block;
  padding: 10.5px 1em;
  touch-action: manipulation;

  &::before {
    @include standard-input-dimensions(true, 2);

    background: $white;
    border: $input-border;
    border-radius: 2px;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
  }

  &::after {
    background: transparent;
    border: solid $mid-grey;
    border-top-color: transparent;
    border-width: 0 0 5px 5px;
    content: '';
    height: 7px;
    left: 10px;
    opacity: 0;
    position: absolute;
    top: 12px;
    transform: rotate(-45deg);
    width: 20px;
    zoom: 1;

    @include respond-to(tablet, desktop) {
      height: 9px;
      width: 22px;
    }
  }
}

.input {
  @include standard-input-dimensions(true);

  cursor: pointer;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  zoom: 1;

  &:disabled {
    cursor: default;

    & + .children {
      cursor: default;
      opacity: 0.5;
      zoom: 1;
    }
  }

  &:focus + .children::before {
    border-radius: 0;
    box-shadow: 0 0 0 3px $outline;
  }

  &:enabled:hover {
    & + .children {
      @include hover;
    }

    & + .children::before {
      border-color: color.scale($light-grey, $lightness: $color-change-percentage);
      border-radius: 0;
    }
  }

  &:checked + .children::after {
    opacity: 1;
    zoom: 1;
  }
}
