@import '../variables';
@import '../typography';
@import '../accessibility';

.label {
  @include font-scale(1);

  cursor: pointer;
  display: inline-block;
  margin: 1em 0;
}

.input {
  &:enabled {
    cursor: pointer;
    transition: background-color 0.1s ease-in;

    &:hover,
    &:focus {
      & + .children {
        background-color: darken($white, $color-change-percentage);
        color: darken($off-black, $color-change-percentage);
      }
    }
  }

  &:disabled {
    & ~ .children {
      color: $mid-grey;
      cursor: default;
    }
  }
}

.children {
  padding-left: 1em;
}
