@import '../variables';
@import '../typography';
@import '../accessibility';

.checkbox {
  @include font-scale(1);

  clear: left;
  display: block;
  float: left;
  margin-bottom: 1em;
  padding: 0 0 0 36px;
  position: relative;
}

.children {
  cursor: pointer;
  display: block;
  float: left;
  padding: 7px 1em;
  touch-action: manipulation;

  &::before {
    background: transparent;
    border: 1px solid $light-grey;
    border-radius: 2px;
    content: '';
    height: 34px;
    left: 0;
    position: absolute;
    top: 0;
    width: 34px;
  }

  &::after {
    background: transparent;
    border: solid $mid-grey;
    border-top-color: transparent;
    border-width: 0 0 5px 5px;
    content: '';
    filter: alpha(opacity=0);
    height: 7px;
    left: 8px;
    opacity: 0;
    position: absolute;
    top: 10px;
    transform: rotate(-45deg);
    width: 17px;
    zoom: 1;
  }
}

.input {
  cursor: pointer;
  filter: alpha(opacity=0);
  height: 36px;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 36px;
  z-index: 1;
  zoom: 1;

  &:disabled {
    cursor: default;

    & + .children {
      cursor: default;
      filter: alpha(opacity=50);
      opacity: 0.5;
      zoom: 1;
    }
  }

  &:focus + .children::before {
    border-radius: 0;
    box-shadow: 0 0 0 3px $outline;
  }

  &:enabled:hover {
    & + .children {
      @include hover();
    }

    & + .children::before {
      border-color: darken($light-grey, $color-change-percentage);
      border-radius: 0;
    }
  }

  &:checked + .children::after {
    filter: alpha(opacity=100);
    opacity: 1;
    zoom: 1;
  }
}
