@use '../../common/accessibility';
@use '../../common/typography';
@use '../../common/colours';
@use '../../common/responsive';
@use '../../common/layout';
@use 'forms';
@use 'sass:color';

.textContainer {
  width: fit-content;
}

.textInput {
  font-family: typography.$monospace-font;
  width: 6em;
}

.colorContainer {
  margin-top: 0;
  width: auto;
}

.colorInput {
  border: colours.$input-border;
  border-radius: 0 colours.$border-radius colours.$border-radius 0;
  flex-grow: unset;
  padding: 0;

  @include forms.standard-input-dimensions($fix-width: true);

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: 0;
  }

  &:enabled {
    @include accessibility.interactive($focus-color-change-percentage: 0%) {
      box-shadow: 0 4px 8px 0 color.adjust(colours.$black, $alpha: -0.74);
    }
  }
}

span:has(> .colorInput) {
  height: 0;
  margin: 0;
}
