@import './forms';
@import '../variables';
@import '../typography';
@import '../responsive';
@import '../accessibility';

.input {
  @include font-scale(1);

  @extend %standard-input-dimensions;

  appearance: none;
  background-color: $white;
  border: $input-border;
  border-radius: 2px;
  cursor: pointer;
  flex-grow: 1;
  margin-top: 0.5em;
  padding: 0.5em;
  text-overflow: ellipsis;
  width: 100%;

  &:invalid {
    border-color: $error;
  }

  &:disabled {
    cursor: default;
  }

  &:not(:disabled) {
    @include interactive($focus-color-change-percentage: 0%);
  }
}

.arrow {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid $off-black;
  left: -1.5em;
  position: relative;
  top: 0.8em;
}

.disabled {
  border-top: 0.5em solid graytext;
}
