@import './forms';
@import '../variables';
@import '../typography';
@import '../responsive';
@import '../accessibility';

// based on https://moderncss.dev/custom-select-styles-with-pure-css/

.container {
  align-items: center;
  background-color: $white;
  display: grid;
  flex-grow: 1;
  grid-template-areas: 'select';
  margin-top: 0.5em;
  width: 100%;

  &::after {
    background-color: $off-black;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    content: '';
    grid-area: select;
    height: 0.5em;
    justify-self: end;
    margin-right: 0.5em;
    width: 0.8em;
  }
}

.select {
  @extend %standard-input-dimensions;

  appearance: none;
  background-color: transparent;
  border: $input-border;
  border-radius: 2px;
  cursor: pointer;
  grid-area: select;
  padding: 0.5em 1.5em 0.5em 0.5em;
  text-overflow: ellipsis;

  &:disabled {
    cursor: default;
  }

  &:not(:disabled) {
    @include interactive($focus-color-change-percentage: 0%);
  }
}
