@import '../variables';
@import '../typography';
@import '../responsive';
@import '../accessibility';

.input {
  @include font-scale(1);

  background-color: $white;
  border: $input-border;
  border-radius: 2px;
  flex-grow: 1;
  margin-top: 0.5em;
  width: 100%;

  &:enabled {
    box-shadow: $shadow;
    transition: box-shadow 0.1s ease-in;

    @include interactive() {
      box-shadow: $focus-shadow;
    }
  }

  @include respond-to(tablet, desktop) {
    margin-top: 0;
    width: auto;
  }
}
