@import '../variables';
@import '../typography';
@import '../responsive';

.inputContainer {
  align-content: flex-start;
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: $margin-top;
  width: 100%;

  @include respond-to(tablet, desktop) {
    width: auto;
  }
}

.inputLabel {
  @include font-scale(1);

  display: block;

  @include respond-to(tablet, desktop) {
    display: inline-block;
    margin-right: $margin-right;
  }
}
