@import '../variables';
@import '../responsive';

@mixin standard-input-dimensions($fix-width: false, $adjust-px: 0) {
  height: 40px - $adjust-px;
  min-height: 40px - $adjust-px;

  @if $fix-width {
    min-width: 40px - $adjust-px;
    width: 40px - $adjust-px;
  }

  @include respond-to(tablet, desktop) {
    height: 44px - $adjust-px;
    min-height: 44px - $adjust-px;

    @if $fix-width {
      min-width: 44px - $adjust-px;
      width: 44px - $adjust-px;
    }
  }
}

.inputContainer {
  margin-top: $margin-top;
  min-width: 1em;
  width: 100%;
}

.inputLabel {
  display: block;
}
