@import '../variables';
@import '../typography';
@import '../responsive';

%standard-input-dimensions {
  height: $input-height;
  min-height: $input-height;
}

.inputContainer {
  margin-top: $margin-top;
  min-width: 1em;
  width: 100%;
}

.inputLabel {
  @include font-scale(1);

  display: block;
}
