@import '../variables';
@import '../typography';
@import '../responsive';
@import '../accessibility';
@import '../fonts/icon-font';

.label {
  display: block;
  position: relative;
  width: 100%;

  @include respond-to(tablet, desktop) {
    display: inline-block;
    width: auto;
  }
}

.description {
  @include font-scale(1);

  display: inline-block;

  @include respond-to(tablet, desktop) {
    margin-right: 1em;
  }
}

.input {
  @include font-scale(1);

  border: 1px solid $light-grey;
  border-radius: 2px;
  margin-top: 0.5em;
  padding: 0.5em;
  width: 100%;

  &:invalid {
    border-color: $error;
    box-shadow: none;
  }

  &:disabled {
    border-color: $mid-grey;
    color: $mid-grey;
  }

  &:read-only {
    cursor: default;
  }

  &:not(:disabled) {
    &:read-write {
      @include interactive($darken-on-focus: false);
    }
  }

  @include respond-to(tablet, desktop) {
    margin-right: 1em;
    margin-top: 0;
    width: auto;
  }
}

.readOnly {
  @extend .icon;
  @extend .icon-lock;

  position: absolute;
  right: 1em;
  top: 4.4em;

  @include respond-to(tablet, desktop) {
    right: 2em;
    top: 2.5em;
  }
}
