@import '../variables';
@import '../typography';
@import '../responsive';

.input {
  display: block;
  width: 100%;

  @include respond-to(tablet, desktop) {
    display: inline-block;
    width: auto;
  }

  span {
    @include font-scale(1);

    display: inline-block;

    @include respond-to(tablet, desktop) {
      margin: 0.5em 1em 0.5em 0;
    }
  }

  input {
    @include font-scale(2);

    border: none;
    border-bottom: 1px solid $mid-grey;
    width: 100%;
    margin-top: 0.5em;

    &:focus {
      outline: none;

      &:read-write {
        border-bottom-color: $blue;
      }
    }

    &:invalid {
      box-shadow: none;
      border-bottom-color: $danger;
    }

    @include respond-to(tablet, desktop) {
      width: auto;
      margin-right: 1em;
      margin-top: 0;
    }
  }

  &.number {
    input {
      width: 5rem;
      display: block;

      @include respond-to(tablet, desktop) {
        display: inline-block;
      }
    }
  }

  .input-validation-errors {
    margin-top: 1em;

    @include respond-to(tablet, desktop) {
      display: inline-block;
      margin-top: 0;
    }
  }
}
