@import '../variables';
@import '../typography';
@import '../responsive';
@import '../accessibility';
@import '../fonts/icon-font';

$padding: 0.5em;
$font-scale: 1;

.wrapper {
  align-items: normal;
  display: flex;
  flex-grow: 1;
  margin-top: 0.5em;
  width: 100%;

  @include respond-to(tablet, desktop) {
    display: inline-flex;
    margin-top: 0;
    width: auto;
  }
}

.input {
  @include font-scale($font-scale);

  border: $input-border;
  border-radius: 2px;
  flex-grow: 1;
  padding: $padding;
  text-overflow: ellipsis;

  &:invalid {
    border-color: $error;
    box-shadow: none;
  }

  &:disabled {
    border-color: $mid-grey;
    color: $mid-grey;
  }

  &:read-only {
    cursor: default;
  }

  &:not(:disabled) {
    &:read-write {
      @include interactive($darken-on-focus: false);
    }
  }
}

.password {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

%icon {
  @extend .icon;

  @include font-scale($font-scale);

  border: $input-border;
  border-bottom-right-radius: 2px;
  border-left: none;
  border-top-right-radius: 2px;
  padding: $padding;
}

%passwordToggle {
  @extend %icon;

  cursor: pointer;
  margin: 0;
  width: auto;

  &:enabled {
    box-shadow: none;
  }
}

.readOnly {
  @extend .icon-lock;
  @extend %icon;
}

.showPassword {
  @extend .icon-eye;
  @extend %passwordToggle;
}

.hidePassword {
  @extend .icon-eye-blocked;
  @extend %passwordToggle;
}
