@import '../variables';

.text-input {
  span {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.3rem;
  }

  input {
    border: none;
    border-bottom: 1px solid $mid-grey;
    margin-right: 1em;

    &:focus {
      outline: none;
      border-bottom-color: $blue;
    }
  }
}
