@import '../variables';

.text-input {
  margin-top: 1em;

  span {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.3rem;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  input {
    border: none;
    border-bottom: 1px solid $mid-grey;
    margin-right: 1em;

    &:focus {
      outline: none;
      border-bottom-color: $blue;
    }
  }
}
