@import '../common/variables';
@import '../common/layout';

.interesting-project {
  @include fill-parent;

  display: table;
  border-radius: 5px;
  padding: 1em;

  &.healthy-building {
    background-color: $healthy-building;
    color: $healthy-building-text;
  }

  &.sick {
    background-color: $sick;
    color: $off-white;
  }

  &.sick-building {
    background-color: $sick-building;
    color: $off-white;
  }

  &.unknown {
    background-color: $mid-grey;
    color: $off-black;
  }

  .inner {
    display: table-cell;
    vertical-align: middle;
  }

  .time-broken {
    opacity: 0.5;
    font-style: italic;
  }
}
