@use 'sass:color';
@use '../common/colours';
@use '../common/typography';

.monitor {
  background-color: colours.$black;
  color: colours.$off-white;
  display: flex;
  font-family: typography.$monospace-font;
  min-height: 100%;
  width: 100%;
}

.projects {
  flex: 1;
  position: relative;
}

.projectsInner {
  height: 100%;
  position: absolute;
  width: 100%;
}

.menusHidden {
  cursor: none;
}

.mute {
  background: color.change(colours.$off-black, $alpha: 0.6);
  border-radius: 1em;
  bottom: 1em;
  color: color.change(colours.$off-white, $alpha: 0.8);
  font-size: 2em;
  margin: 0;
  outline: 0.3em solid color.change(colours.$off-black, $alpha: 0.6);
  position: absolute;
  right: 1em;
}
