@import '../common/variables';
@import '../common/responsive';

.monitor {
  background-color: $black;
  color: $off-white;
  cursor: inherit;
  font-family: $monospace-font;
  height: 100vh;
  margin: -1em;
  text-align: center;

  @include respond-to(tablet, desktop) {
    margin: -2em;
  }
}

.fullscreen {
  cursor: none;
}
