@use '../common/layout';

.scaledGrid {
  @include layout.fill-parent;

  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.item {
  display: inline-block;
  min-height: 25px;
  padding: 5px;
}
