@use '../common/layout';
@use '../common/typography';
@use '../common/responsive';

$border-radius: 5px;

.tile {
  @include layout.fill-parent;

  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  font-family: typography.$monospace-font;
  text-transform: lowercase;
}

.header {
  @include typography.font-scale(-1);

  @include responsive.respond-to(tablet, desktop) {
    @include typography.font-scale(0);
  }

  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  padding: 0 1em;
  text-align: center;
  white-space: nowrap;

  &.small {
    display: none;
  }
}

.body {
  flex-grow: 1;
  overflow: hidden;
  text-align: center;
}

.footer {
  @include typography.font-scale(-1);

  @include responsive.respond-to(tablet, desktop) {
    @include typography.font-scale(0);
  }

  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  overflow: hidden;
  white-space: nowrap;

  &.small {
    display: none;
  }
}
