@import '../common/variables';
@import '../common/layout';

.success-message {
  @include fill-parent;

  display: table;
  overflow: hidden;

  .inner {
    display: table-cell;
    vertical-align: middle;
  }
}
