@use '../common/colours';

.summary {
  background-color: colours.$off-black;
  color: colours.$off-white;
  text-align: center;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.25em;
}
