@use '../common/colours';
@use '../common/layout';
@use '../common/links';

@mixin prognosis($color, $background-color) {
  background-color: $background-color;
  color: $color;
}

.identifier {
  @include layout.fill-parent;

  overflow: hidden;
  text-overflow: ellipsis;
}

.additionalInfo {
  @include layout.fill-parent;

  align-items: baseline;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 1em;
  text-overflow: ellipsis;
}

.link {
  text-decoration-line: none;

  &:hover {
    text-decoration-line: underline;
  }
}

.healthy {
  @include prognosis(colours.$white, colours.$healthy);

  .link {
    @include links.link(colours.$white, colours.$white, colours.$healthy);
  }
}

.healthy-building {
  @include prognosis(colours.$healthy-building-text, colours.$healthy-building);

  .link {
    @include links.link(
      colours.$healthy-building-text,
      colours.$healthy-building-text,
      colours.$healthy-building
    );
  }
}

.sick {
  @include prognosis(colours.$off-white, colours.$sick);

  .link {
    @include links.link(colours.$off-white, colours.$off-white, colours.$sick);
  }
}

.sick-building {
  @include prognosis(colours.$white, colours.$sick-building);

  .link {
    @include links.link(colours.$white, colours.$white, colours.$sick-building);
  }
}

.unknown {
  @include prognosis(colours.$off-black, colours.$light-grey);

  .link {
    @include links.link(
      colours.$off-black,
      colours.$off-black,
      colours.$light-grey
    );
  }
}

.error {
  @include prognosis(colours.$white, colours.$error);

  .link {
    @include links.link(colours.$white, colours.$white, colours.$error);
  }
}

.time {
  font-size: 0.8em;
  margin: 0 0.5em 0 0;
}

.buildLabel {
  font-size: 0.9em;
  overflow: hidden;
  padding-left: 3em;
  text-overflow: ellipsis;
}
