@import '../common/variables';
@import '../common/layout';

$background: darken($sick, 15%);

.error {
  background-color: $background;
  color: $off-white;
}

.body {
  @extend %fill-parent;

  align-items: center;
  display: flex;
  justify-items: center;
}

.identifier {
  background: linear-gradient(to right, $background, darken($background, 3%), $background);
}
