@import '../common/variables';

$background: darken($sick, 15%);

.error {
  background-color: $background;
  color: $off-white;
}

.identifier {
  background: linear-gradient(to right, $background, darken($background, 3%), $background);
}
