@use '../common/colours';
@use '../common/layout';
@use '../common/links';
@use '../common/accessibility';

.tile:focus-within {
  @include accessibility.focus;
}

.identifier {
  @include layout.fill-parent;

  overflow: hidden;
  text-overflow: ellipsis;
}

.additionalInfo {
  @include layout.fill-parent;

  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.link {
  color: inherit;
  text-decoration-line: none;

  &:visited {
    color: inherit;
  }

  &:hover {
    background-color: inherit;
    color: inherit;
    text-decoration-line: underline;
  }

  &:focus {
    background-color: inherit;
    color: inherit;
    outline: none;
  }
}

.time {
  font-size: 0.8em;
  margin: 0 0.5em 0 0;
}

.buildLabel {
  font-size: 0.9em;
  overflow: hidden;
  padding-left: 3em;
  text-overflow: ellipsis;
}
