/target
/build
.idea
pom.xml.asc
*.iml
*.ipr
*.iws
*.class
/.lein-*
/.nrepl-port
*.DS_Store
node_modules
resources/public
phantomjsdriver.log
npm-debug.log
src/.module-cache/

# TODO: [#177] remove once we figure out how to get package-lock.json working consistently
package-lock.json
