.button {
  font-size: 0.6em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  position: relative;
  padding: 0.5em 1.5em;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: $off-black;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  outline: none;
  transition: background-color 0.1s ease-in, box-shadow 0.1s ease-in;
  &:hover {
    background-color: darken(white, 2%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26);
  }
  &:focus {
    outline: none;
    border-radius: 0;
  }
}

.button-primary {
  @extend .button;
  font-size: 0.8em;
  background-color: $blue;
  color: $off-white;
  &:hover {
    background-color: darken($blue, 4%);
  }
}
