@import "../base/helpers";
@import "../base/variables";

.button {
  @include user-select(none);

  background-color: white;
  border: 2px solid $light-grey;
  border-radius: 0.3em;
  color: $off-black;
  cursor: pointer;
  font-size: 0.6em;
  margin: 0.5em;
  outline: none;
  padding: 0.9em 1.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: $off-white;
  }

  &:focus {
    background-color: $off-white;
    border: 2px solid $blue;
    outline: none;
  }
}

.button-primary {
  @extend .button;

  font-size: 0.75em;
  background-color: $blue;
  border: 2px solid $blue;
  color: white;
  margin: 0;

  &:hover {
    background-color: $blue-highlight;
    border-color: $blue-highlight;
    color: white;
  }

  &:focus {
    background-color: $blue-highlight;
    border-color: $blue-highlight;
    color: white;
  }
}

.button-danger {
  @extend .button;

  border: 2px solid $danger;
  color: $danger;
  
  &:hover {
    background-color: $danger;
    color: white;
  }

  &:focus {
    background-color: $danger;
    color: white;
  }
}
