.label-checkbox {
  font-size: 0.8em;
  span {
    margin-left: 0.8em;
  }
  &:hover {
    cursor: pointer;
  }
}

.label-checkbox-disabled {
  @extend .label-checkbox;
  color: $mid-grey;
  &:hover {
    cursor: default;
  }
}

.checkbox {
  position: relative;
  top: -2px;
  margin: 0 0.7em 0 0;
  cursor: pointer;
  &::before {
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transform: rotate(-45deg) scale(0, 0);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: rotate(315deg) scale(0, 0);
    content: '';
    position: absolute;
    left: 5px;
    top: 4px;
    z-index: 1;
    width: 11px;
    height: 6px;
    border: 2px solid $blue;
    border-top-style: none;
    border-right-style: none;
  }
  &::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 1.1em;
    height: 1.1em;
    background: #fff;
    border: 2px solid $off-white;
    border-radius: 2px;
    cursor: pointer;
  }
  &:checked {
    &::before {
      transform: rotate(-45deg) scale(1, 1);
      -webkit-transform: rotate(315deg) scale(1, 1);
      border-color: white;
    }
    &::after {
      border-color: $blue;
      background: $blue;
    }
  }
  &:disabled {
    &::after {
      cursor: default;
    }
    &:checked {
      &::after {
        border-color: $mid-grey;
        background: $mid-grey;
      }
    }
  }
  &:focus {
    outline: none;
  }
}
