@import '../../../common/variables';
@import '../../../common/layout';

.export {
  @extend %blocking;
}

.label {
  width: 6em;
}

.url {
  @extend %first;

  flex-grow: 1;
  margin: 0 1em 0 0;
}

.id {
  @include respond-to(tablet, desktop) {
    width: 38em;
  }
}

.accessToken {
  @include respond-to(tablet, desktop) {
    width: 38em;
  }
}

.help {
  margin: 0 $margin-right 0 0;
}

.helpContainer {
  display: flex;
}
