@import '../../../common/forms/button';
@import '../../../common/layout';

.export {
  @include button-icon('cloud-upload');

  @extend .primaryButton;
  @extend %block-margin;
}

.label {
  width: 6em;
}

.accessToken {
  @extend %first;

  @include respond-to(tablet, desktop) {
    width: 36em;
  }
}

.gistId {
  @include respond-to(tablet, desktop) {
    width: 31em;
  }
}
