@import '../../../common/forms/button';
@import '../../../common/layout';

$label-size: 6em;

.export {
  @include button-icon('cloud-upload');

  @extend .primaryButton;
  @extend %block-margin;
}

.label {
  width: $label-size;
}

.accessToken {
  @include respond-to(tablet, desktop) {
    width: 36em;
  }
}

.help {
  margin: 0 $margin-right 0 0;
}
