@use '../common/colours';
@use '../common/layout';

.section {
  background-color: colours.$white;
  border: 1px solid colours.$light-grey;
  margin-top: 1em;
  padding: 1em;
}

.content {
  margin-top: 1em;
}

.fixedWidth {
  @include layout.fixed-width(35em);
}

.styledLabel {
  @include layout.fixed-width(10em);

  font-weight: bold;
}

.newLineCheckbox {
  width: 100%;
}

.icons {
  @include layout.two-column-grid;

  & > span {
    &::before {
      margin-right: 1em;
    }
  }
}
