@import '../common/variables';
@import '../common/layout';
@import '../common/responsive';

.section {
  background-color: $white;
  margin-top: 1em;
  padding: 1em;
}

.content {
  margin-top: 1em;
}

.fixedWidth {
  @include fixed-width(35em);
}

.styledLabel {
  @include fixed-width(10em);

  font-weight: bold;
}

.newLineCheckbox {
  width: 100%;
}

.icons {
  display: inline-block;

  & > span {
    @include grid-column(4 of 4);

    &::before {
      margin-right: 1em;
    }

    @include respond-to(tablet) {
      @include grid-column(4 of 8);
    }

    @include respond-to(desktop) {
      @include grid-column(4 of 12);
    }
  }
}
