@import '../../../common/variables';
@import '../../../common/forms/button';
@import '../../../common/typography';
@import '../../../common/responsive';

.import-github {
  .restore {
    @include button();
    @include button-icon('cloud-download');
  }

  .gist-values {
    display: block;
    padding-bottom: 1em;
  }

  .oauth-token {
    @include respond-to(tablet, desktop) {
      display: block;

      input {
        width: 32rem;
      }
    }
  }

  .gist-url {
    @include respond-to(tablet, desktop) {
      display: flex;
      align-items: center;

      span {
        width: 6em;
      }

      input {
        flex: 1;
      }
    }
  }

  .gist-url {
    padding-top: 1.5em;
  }
}
