@import '../common/variables';
@import '../common/forms/button';

.add-tray {
  font-size: 1.5rem;
  margin-bottom: 1em;
  padding: 1em;
  background-color: $white;
  box-shadow: $shadow;

  .add {
    @include button-icon('plus');

    @extend .button-primary;
  }

  .tracking-tray-url {
    width: calc(100% - 9em);
  }

  .authorisation {
    padding-top: 1em;
  }
}
