@import '../common/variables';
@import '../common/forms/button';
@import '../common/responsive';

.add-tray {
  font-size: 1.5rem;
  margin-bottom: 1em;
  padding: 1em;
  background-color: $white;
  box-shadow: $shadow;

  .add {
    @include button-icon('plus');

    @extend .button-primary;

    display: block;
    width: 100%;
    margin-top: 1em;

    @include respond-to(tablet, desktop) {
      display: inline-block;
      width: auto;
      margin-top: 0;
    }
  }

  .tracking-tray-url,
  .username,
  .password {
    display: block;
    width: 100%;

    input {
      width: 100%;
    }

    @include respond-to(tablet, desktop) {
      display: flex;

      input {
        flex-grow: 1;
      }
    }
  }

  .username,
  .password {
    margin-top: 1em;

    @include respond-to(tablet, desktop) {
      display: inline-block;
      width: auto;
      margin-right: 1em;

      input {
        width: auto;
      }
    }
  }
}
