@import '../common/inputs';

.add-tray {
  font-size: 1.5rem;
  margin-bottom: 1em;
  padding: 1em;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

  .url-input {
    @extend .text-input;
  }

  .tracking-tray-url {
    width: calc(100% - 8em);
  }
}
