@use 'sass:color';

$black: black;
$off-black: #212121;
$white: #fff;
$off-white: #fffed7;
$light-grey: #ececec;
$mid-grey: #797676;
$blue: #0279c4;
$yellow: #fdc626;
$sick: #b30400;
$error: #de3535;
$outline: #a4a4a4;
$version-color: #e3256b;

// Decorations

$shadow: 0 2px 5px color.adjust($black, $alpha: -0.74);
$color-change-percentage: 8%;
$input-border: 1px solid $light-grey;
$border-radius: 2px;
