@use 'responsive';

// Sizes
$spacing-height: 2em;
$spacing-width: 1em;
$max-page-width: 1280px;
$outline-size: 5px;

// Cards
$card-header-padding: 0.75rem;

// Z Index
$header-footer-index: 100;
$focus-index: 1000;
$model-index: 9999;

@mixin fixed-width($width) {
  @include responsive.respond-to(tablet, desktop) {
    width: $width;
  }
}

@mixin fill-parent {
  display: block;
  height: 100%;
  width: 100%;
}

@mixin blocking($margin-top: $spacing-height) {
  @include responsive.respond-to(tablet, desktop) {
    display: block;
    margin: $margin-top 0 0 0;
  }
}

@mixin grid($mobile-columns: 1, $tablet-columns: 2, $desktop-columns: 3) {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat($mobile-columns, minmax(0, 1fr));

  @include responsive.respond-to(tablet) {
    grid-template-columns: repeat($tablet-columns, minmax(0, 1fr));
  }

  @include responsive.respond-to(desktop) {
    grid-template-columns: repeat($desktop-columns, minmax(0, 1fr));
  }
}
