@use 'responsive';

// Sizes
$spacing-height: 1.5em;
$spacing-width: 1em;
$max-page-width: 1280px;

// Z Index
$header-footer-index: 100;
$focus-index: 1000;
$model-index: 9999;

@mixin fixed-width($width) {
  @include responsive.respond-to(tablet, desktop) {
    width: $width;
  }
}

@mixin fill-parent {
  display: block;
  height: 100%;
  width: 100%;
}

@mixin blocking {
  @include responsive.respond-to(tablet, desktop) {
    display: block;
    margin: $spacing-height 0 0 0;
  }
}

@mixin two-column-grid {
  column-gap: 1em;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 1em;

  @include responsive.respond-to(tablet, desktop) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
