@use 'accessibility';
@use 'colours';

@mixin link(
  $color: colours.$blue,
  $visited-color: colours.$blue,
  $interactive-color: colours.$black,
  $interactive-background-color: colours.$white
) {
  background: none;
  border: none;
  color: $color;
  margin: 0;
  padding: 0;

  &:visited {
    color: $visited-color;
  }

  @include accessibility.interactive(
    $color: $interactive-color,
    $background-color: $interactive-background-color,
    $border-color: transparent,
    $hover-color-change-percentage: 0%,
    $focus-color-change-percentage: 0%
  );
}
