@import 'variables';

@mixin hover(
  $color: $off-black,
  $background-color: $white,
  $border-color: $light-grey,
  $hover-color-change-percentage: $color-change-percentage
) {
  background-color: darken($background-color, $hover-color-change-percentage);
  border-color: darken($border-color, $hover-color-change-percentage);
  border-radius: 0;
  color: $color;
}

@mixin interactive(
  $color: $off-black,
  $background-color: $white,
  $border-color: $light-grey,
  $hover-color-change-percentage: $color-change-percentage,
  $focus-color-change-percentage: $color-change-percentage
) {
  &:hover {
    @include hover($color, $background-color, $border-color, $hover-color-change-percentage);

    @content;
  }

  &:focus {
    background-color: darken($background-color, $focus-color-change-percentage);
    border-color: darken($border-color, $focus-color-change-percentage);
    border-radius: 0;
    color: $color;
    outline: 3px solid $outline;
    z-index: 1000; // make sure the focus outline isn't below adjacent elements

    @content;
  }
}

%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-transform: none;
  width: 1px;
}
