@import 'variables';

@mixin interactive($color:$off-black, $background-color:$white, $border-color:$light-grey, $darken-on-focus:true) {
  transition: color 0.1s ease-in, background-color 0.1s ease-in, border-color 0.1s ease-in;

  &:hover {
    background-color: darken($background-color, $color-change-percentage);
    border-color: darken($border-color, $color-change-percentage);
    border-radius: 0;
    color: darken($color, $color-change-percentage);

    @content;
  }

  &:focus {
    border-radius: 0;
    outline: 3px solid $outline;

    @if $darken-on-focus {
      background-color: darken($background-color, $color-change-percentage);
      color: darken($color, $color-change-percentage);
    }

    @content;
  }
}

%visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
