@import 'variables';
@import 'fonts/icon-font';
@import 'typography';
@import 'accessibility';
@import 'responsive';

@mixin _show-hide-icon($icon) {
  @extend .icon-circle-#{$icon};

  &::before {
    @include font-scale(1);

    margin-right: 0.5em;
  }
}

.container {
  background-color: $white;
  box-shadow: $shadow;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.body {
  @include respond-to(very-small) {
    overflow: scroll;
  }
}

.hidden {
  display: none;
}

.titleBar {
  background: $off-black;
  color: $white;
  cursor: pointer;
  overflow: hidden;
  padding: 1em;
  position: relative;
  white-space: nowrap;

  @include interactive($color: $white, $background-color: $off-black, $border-color: $off-black);
}

.title {
  display: inline-block;
  font-weight: 400;
}

.subTitle {
  @include font-scale(1);

  display: inline-block;
  font-weight: normal;
  padding-left: 1em;
}

.show {
  @include _show-hide-icon(down);
}

.hide {
  @include _show-hide-icon(up);
}

.highlight {
  animation: highlight 2s;
}

@keyframes highlight {
  0% {
    background: $blue;
  }

  100% {
    background: $off-black;
  }
}
