@import 'forms/button';
@import 'responsive';

.helpButton {
  display: inline-block;
  vertical-align: text-bottom;

  &:enabled {
    border: none;
    box-shadow: none;
    transition: none;
  }
}

.inline {
  align-items: flex-end;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  width: 100%;

  @include respond-to(tablet, desktop) {
    align-items: start;
    flex-grow: 0;
    width: auto;
  }
}
