@import './forms/forms';
@import './typography';
@import './variables';

.button {
  @include font-scale(0);

  @extend %standard-input-dimensions;

  margin: 0;
  max-width: $input-height;
  min-width: $input-height;
  padding: 0.5em;
  width: $input-height;
}
