@import 'variables';

.button {
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  position: relative;
  padding: 0.5em 1.5em;
  margin: 0.5em;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: $off-black;

  &:enabled {
    cursor: pointer;
    transition: background-color 0.1s ease-in, box-shadow 0.1s ease-in;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    &:hover,
    &:focus {
      background-color: darken(white, 8%);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26);
      border-radius: 0;
    }
  }

  &:disabled {
    cursor: default;
    color: $mid-grey;
    background-color: $light-grey;
  }
}

.button-primary {
  @extend .button;

  font-size: 1.2rem;
  background-color: $blue;
  color: $off-white;

  &:enabled {
    &:hover,
    &:focus {
      background-color: darken($blue, 8%);
    }
  }
}
