@import './variables';
@import './responsive';

@mixin fixedWidth($width) {
  @include respond-to(tablet, desktop) {
    width: $width;
  }
}

%fillParent {
  display: block;
  height: 100%;
  width: 100%;
}

%first {
  margin-top: 0;
}

%inlineMargin {
  @include respond-to(tablet, desktop) {
    margin: 0 $margin-right 0 0;
  }
}

%blockMargin {
  @include respond-to(tablet, desktop) {
    margin: $margin-top 0 0 0;
  }
}
