@import './variables';
@import './responsive';

@mixin fixed-width($width) {
  @include respond-to(tablet, desktop) {
    width: $width;
  }
}

%fill-parent {
  display: block;
  height: 100%;
  width: 100%;
}

%first {
  margin-top: 0;
}

%inline {
  @include respond-to(tablet, desktop) {
    display: inline-block;
    margin: 0 $margin-right 0 0;
  }
}

%blocking {
  @include respond-to(tablet, desktop) {
    display: block;
    margin: $margin-top 0 0 0;
  }
}

%two-column-grid {
  column-gap: 1em;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 1em;

  @include respond-to(tablet, desktop) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
