@import './variables';
@import './responsive';

@mixin fixed-width($width) {
  @include respond-to(tablet, desktop) {
    width: $width;
  }
}

%fill-parent {
  display: block;
  height: 100%;
  width: 100%;
}

%first {
  margin-top: 0;
}

%inline-margin {
  @include respond-to(tablet, desktop) {
    margin: 0 $margin-right 0 0;
  }
}

%block-margin {
  @include respond-to(tablet, desktop) {
    margin: $margin-top 0 0 0;
  }
}
