@import './variables';
@import './accessibility';

@mixin link($color: $blue, $visited-color: $blue, $interactive-color: $light-grey) {
  background: none;
  border: none;
  color: $color;
  cursor: pointer;
  margin: 0;
  padding: 0;

  &:visited {
    color: $visited-color;
  }

  @include interactive(
    $color: $color,
    $background-color: $interactive-color,
    $border-color: transparent,
    $hover-color-change-percentage: 0%,
    $focus-color-change-percentage: 0%);
}
