@import './forms/button';
@import './variables';

.linkButton {
  @extend .secondary;

  vertical-align: bottom;

  &:visited {
    color: $off-black;
  }
}

.addButton {
  @extend .primary;

  margin: 0 0 $margin-top 0;
  vertical-align: bottom;

  &:visited {
    color: $off-white;
  }
}

.feedButtons {
  @include respond-to(tablet, desktop) {
    margin: $margin-top $margin-right 0 0;
  }
}
