@use 'colours';
@use 'layout';

.loading {
  @include layout.fill-parent;

  align-items: center;
  background-color: colours.$white;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

.pulse {
  animation: dot-flashing 1.5s infinite linear alternate;
  background-color: colours.$off-black;
  border-radius: colours.$border-radius;
  display: inline-block;
  height: 1.5rem;
  margin: 0 0.5rem 0 0;
  width: 1.5rem;

  &:nth-of-type(2) {
    animation-delay: 0.5s;
  }

  &:nth-of-type(3) {
    animation-delay: 1s;
  }

  @keyframes dot-flashing {
    0% {
      opacity: 1;
    }

    50%,
    100% {
      opacity: 0.2;
    }
  }
}

.dark {
  background-color: colours.$off-black;

  & .pulse {
    background-color: colours.$white;
  }
}
