@import 'variables';
@import 'fonts/icon-font';
@import 'typography';
@import 'responsive';

@mixin _messages($icon, $color, $background-color) {
  background-color: $background-color;
  color: $color;
  list-style: none;
  margin: 1em 0 0 0;

  @include respond-to(very-small) {
    overflow: scroll;
  }

  .message:first-child {
    @extend .icon-#{$icon};

    &::before {
      color: $color;
    }
  }
}

.error {
  @include _messages('notification', $white, $error);
}

.warning {
  @include _messages('notification', $off-black, $yellow);
}

.info {
  @include _messages('checkmark', $off-white, $blue);
}

.message {
  padding: 0.5em 0.5em 0.5em 2em;

  &:first-child {
    margin-left: 2em;
    padding-left: 0;

    &::before {
      margin-left: -2em;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}
