@use 'sass:color';
@use 'colours';
@use 'responsive';
@use 'layout';

@mixin _messages($color, $background-color) {
  align-items: center;
  background-color: $background-color;
  border-radius: colours.$border-radius;
  color: $color;
  display: flex;
  margin: layout.$spacing-height 0 0;

  & > .icon {
    background-color: color.scale($background-color, $lightness: -10%);
    color: color.scale($background-color, $lightness: -25%);
  }

  & > .dismiss {
    color: $color;
  }

  @include responsive.respond-to(very-small) {
    overflow: scroll;
  }
}

.error {
  @include _messages(colours.$white, colours.$error);
}

.warning {
  @include _messages(colours.$off-black, colours.$yellow);
}

.info {
  @include _messages(colours.$off-white, colours.$blue);
}

.success {
  @include _messages(colours.$off-white, colours.$blue);
}

.messages {
  flex-grow: 1;
  list-style: none;
}

.icon {
  align-items: center;
  align-self: stretch;
  display: flex;
  font-size: 2em;
  justify-content: center;
  padding: 0.5rem;
  width: 10%;

  & > svg {
    margin: 0;
  }
}

.message {
  margin: 0.5em 1em;
}

.dismiss {
  align-self: start;
  margin: 0.5em;
}
