@import '../common/variables';
@import '../common/typography';
@import '../common/layout';
@import '../common/forms/button';

.overlay {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $model-index;
}

.modal {
  background-color: #fff;
  border: 1px solid #ececec;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  color: #212121;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - #{$margin-top * 2});
  max-width: 900px;
  overflow: scroll;
  padding: 1em;
}

.header {
  align-items: flex-start;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.content {
  flex-grow: 1;
}

.title {
  @include font-scale(3);

  margin: 0 1em 0 0;

  &::before {
    margin-right: 0.5em;
  }
}

.modelOpen {
  overflow: hidden;
}
