@import '../common/variables';
@import '../common/typography';
@import '../common/responsive';
@import '../common/layout';
@import '../common/forms/button';
@import '../common/fonts/icon-font';

.modal {
  background-color: $white;
  border: 1px solid $light-grey;
  box-shadow: $shadow;
  color: $off-black;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2em);
  margin: 1em;
  max-width: 40em;
  overflow: scroll;
  padding: 1em;
  position: relative;
  width: calc(100vw - 2em);
  z-index: 9001;

  @include respond-to(tablet, desktop) {
    margin: 1em auto;
  }
}

.header {
  align-items: flex-start;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.content {
  flex-grow: 1;
}

.title {
  @extend .icon-question;

  @include font-scale(3);

  margin: 0 1em 0 0;

  &::before {
    margin-right: 0.5em;
  }
}

.modelOpen {
  overflow: hidden;
}
