@import './variables';
@import './responsive';

.page {
  background: $white;
  height: 100%;
  margin: auto;
  max-width: $max-page-width;
  padding: 1em;

  & > *:first-child {
    margin-top: 0;
  }

  @include respond-to(desktop) {
    padding: 2em;
  }
}

.backToTop {
  margin-top: $margin-top * 2;
}
