@use 'colours';
@use 'responsive';
@use 'layout';

.page {
  background: colours.$white;
  height: 100%;
  margin: auto;
  max-width: layout.$max-page-width;
  padding: 1em;

  & > *:first-child {
    margin-top: 0;
  }

  @include responsive.respond-to(desktop) {
    padding: 2em;
  }
}

.backToTop {
  margin-top: layout.$spacing-height * 2;
}
