$breakpoints: (
  very-small: '(min-width: 0) and (max-width: 320px)',
  mobile: '(min-width: 0) and (max-width: 767px)',
  tablet: '(min-width: 768px) and (max-width: 1439px)',
  desktop: '(min-width: 1440px)',
);

@mixin respond-to($medias...) {
  @each $media in $medias {
    @media #{map-get($breakpoints, $media)} {
      @content;
    }
  }
}
