@use './responsive';

.summaryList {
  div:last-child > dd {
    margin-bottom: 0;
  }

  @include responsive.respond-to(tablet, desktop) {
    width: 100%;
  }
}

.summaryListRow {
  @include responsive.respond-to(tablet, desktop) {
    column-gap: 0.5em;
    display: grid;
    grid-template-columns: 30% 70%;
  }
}

.key {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.value {
  margin-bottom: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
