@import 'variables';
@import 'responsive';
@import 'typography';
@import 'accessibility';

.tabs {
  background: $light-grey;
  color: $mid-grey;
  padding: 0.5em 0.5em 0;
  white-space: nowrap;

  @include respond-to(very-small) {
    overflow: scroll; // this is OK as we don't have large tab groups
  }
}

.tab {
  @include font-scale(0);

  &:not(.tabSelected) {
    @include interactive($background-color: $light-grey) {
      box-shadow: none;
    }

    cursor: pointer;
  }

  background-color: $light-grey;
  border: 1px solid $light-grey;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: $off-black;
  display: inline-block;
  margin: 0 0.5em 0 0;
  padding: 0.5em 1.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;

  &:last-child {
    margin-right: 0;
  }

  @include respond-to(tablet, desktop) {
    padding: 0.5em 1.5em;
  }
}

.tabSelected {
  background-color: $white;
  border-bottom-color: $white;
  border-top-color: $blue;
  color: $off-black;

  &:focus {
    border-top-color: $white;
  }
}

.tabPanel {
  display: none;
  padding: 1em;
}

.tabPanelSelected {
  display: block;
}
