// Fonts

$normal-font: Roboto, sans-serif;
$monospace-font: Roboto Mono, monospace;

// Colours

$black: black;
$off-black: #212121;
$white: #fff;
$off-white: #fffed7;
$light-grey: #ececec;
$mid-grey: #797676;

$blue: #0279c4;
$light-blue: #c5ecfe;
$light-red: #fbe4e4;
$purple: #4c2c92;
$yellow: #fdc626;

$healthy-building: #ffff18;
$healthy-building-text: #4a2f27;
$sick: #b30400;
$sick-building: #ff6202;

$error: #de3535;
$outline: #a4a4a4;

$version-color: #26619c;

// Decorations

$shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
$focus-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26);
$color-change-percentage: 8%;
$input-border: 1px solid $light-grey;

// Bourbon Neat grid

$grid-columns: 4;
$max-width: 1920px;
$visual-grid: false;
$visual-grid-index: front;
$visual-grid-color: $blue;
$grid-unit: 1em;
$gutter: 1em;

// Margins

$margin-top: 1.5em;
$margin-right: 1em;
