// Fonts

$normal-font: roboto, sans-serif;
$monospace-font: roboto mono, monospace;

// Colours

$black: black;
$off-black: #212121;
$white: #fff;
$off-white: #fffed7;
$light-grey: #ececec;
$mid-grey: #797676;

$blue: #0279c4;
$yellow: #fdc626;

$healthy: #058943;
$healthy-building: #ffff18;
$healthy-building-text: #4a2f27;
$sick: #b30400;
$sick-building: #d14904;

$error: #de3535;
$outline: #a4a4a4;

$version-color: #5946b2;

// Decorations

$shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
$focus-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26);
$color-change-percentage: 8%;
$input-border: 1px solid $light-grey;
$border-radius: 2px;

// Sizes

$margin-top: 1.5em;
$margin-right: 1em;
$input-height: 44px;
$max-page-width: 1440px;

// Z Index
$header-footer-index: 100;
$focus-index: 1000;
$model-index: 9999;
