@use 'sass:color';

// Fonts

$normal-font: roboto, sans-serif;
$monospace-font: roboto mono, monospace;

// Colours

$black: black;
$off-black: #212121;
$white: #fff;
$off-white: #fffed7;
$light-grey: #ececec;
$mid-grey: #797676;
$blue: #0279c4;
$yellow: #fdc626;
$healthy: #058943;
$healthy-building: #ffff18;
$healthy-building-text: #4a2f27;
$sick: #b30400;
$sick-building: #d14904;
$error: #de3535;
$outline: #a4a4a4;
$version-color: #a6a6a6;

// Decorations

$shadow: 0 2px 5px color.adjust($black, $alpha: -0.74);
$focus-shadow: 0 4px 8px 0 color.adjust($black, $alpha: -0.74);
$color-change-percentage: 8%;
$input-border: 1px solid $light-grey;
$border-radius: 2px;

// Sizes

$margin-top: 1.5em;
$margin-right: 1em;
$max-page-width: 1280px;

// Z Index
$header-footer-index: 100;
$focus-index: 1000;
$model-index: 9999;
