@import '../common/variables';
@import '../common/forms/button';
@import '../common/responsive';

.addMessage {
  background-color: $white;
  box-shadow: $shadow;
  margin-bottom: 1em;
  padding: 1em;

  @include respond-to(tablet, desktop) {
    align-items: baseline;
    display: flex;
  }
}

.addMessageInput {
  input {
    font-family: $monospace-font;
    width: 100%;
  }

  @include respond-to(tablet, desktop) {
    align-items: baseline;
    display: flex;
    flex-grow: 1;

    input {
      flex-grow: 1;
      width: auto;
    }
  }
}

.add {
  @include button();
  @include button-icon('plus');

  margin-top: 1em;

  @include respond-to(tablet, desktop) {
    margin-left: 1em;
    margin-top: 0;
  }
}
