@import '../common/variables';
@import '../common/forms/button';

.add-message {
  font-size: 1.5rem;
  margin-bottom: 1em;
  padding: 1em;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

  .add-message-input {
    width: calc(100% - 13em);
    font-family: $monospace;
  }

  .add {
    @include button-icon('plus');

    @extend .button-primary;
  }
}
