@import '../common/variables';
@import '../common/forms/button';
@import '../common/responsive';

.add-message {
  margin-bottom: 1em;
  padding: 1em;
  background-color: $white;
  box-shadow: $shadow;

  @include respond-to(tablet, desktop) {
    display: flex;
    align-items: baseline;
  }

  .add-message-input {
    input {
      font-family: $monospace;
      width: 100%;
    }

    @include respond-to(tablet, desktop) {
      display: flex;
      align-items: baseline;
      flex-grow: 1;

      input {
        flex-grow: 1;
        width: auto;
      }
    }
  }

  .add {
    @include button($off-white, $blue);
    @include button-icon('plus');

    margin-top: 1em;

    @include respond-to(tablet, desktop) {
      margin-top: 0;
      margin-left: 1em;
    }
  }
}
