@import '../common/variables';
@import '~bourbon-neat/core/neat';
@import '../common/responsive';

.successMessages {
  display: inline-block;
  list-style: none;
  margin-bottom: -0.5em;
  margin-top: -0.5em;
  padding: 1em 0;
  width: 100%;
}

.successItem {
  @include grid-column(4 of 4);

  padding-bottom: 0.5em;
  padding-top: 0.5em;

  @include respond-to(tablet) {
    @include grid-column(4 of 8);
  }

  @include respond-to(desktop) {
    @include grid-column(4 of 12);
  }
}

.message {
  display: inline;
  font-family: $monospace-font;
}
