@import '../common/variables';
@import '~bourbon-neat/core/neat';
@import '../common/responsive';

.container {
  padding-top: 1em;
}

.successImages {
  display: inline-block;
  list-style: none;
  width: 100%;
}

.imageWrapper {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 56.25%; // 16:9
    width: 100%;
  }
}

.image {
  background-color: $black;
  border: 1px solid $mid-grey;
  bottom: 0;
  height: 100%;
  object-fit: contain;
  position: absolute;
  width: 100%;
}

.imageItem {
  @include grid-column(4 of 4);

  margin-bottom: 1em;
  position: relative;

  @include respond-to(tablet) {
    @include grid-column(4 of 8);
  }

  @include respond-to(desktop) {
    @include grid-column(4 of 12);
  }
}

.remove {
  left: 1em;
  position: absolute;
  top: 1em;
}
