@import '../nevergreen';
@import '../common/variables';
@import '../common/forms/button';

.remove-link {
  @include button-icon('bin');

  @extend .button;

  font-size: 1rem;
  color: $danger;
  padding: 0.5em;

  &::before {
    margin: 0;
  }

  &:focus,
  &:hover {
    + .message {
      color: $danger;
      text-decoration: line-through;
    }
  }

  .label {
    @extend .visually-hidden;
  }
}
