@import '../common/layout';
@import '../common/variables';
@import '../common/forms/button';
@import '../common/typography';

.remove-link {
  @include button-icon('bin');

  @extend .button;

  @include font-scale(-1);

  display: inline;
  width: 2.4em;
  height: 2.4em;
  color: $danger;
  padding: 0.5em;

  &::before {
    margin: 0;
  }

  &:focus,
  &:hover {
    + .message {
      color: $danger;
      text-decoration: line-through;
    }
  }

  .label {
    @extend .visually-hidden;
  }
}
