@import '../common/variables';
@import '../common/responsive';

.messages {
  column-gap: 1em;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  list-style: none;
  margin: 0;
  padding: 1em;
  row-gap: 1em;

  @include respond-to(tablet) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include respond-to(desktop) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.messageItem {
  background-color: $black;
  border: 1px solid $mid-grey;
}

.messageWrapper {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 56.25%; // 16:9
    width: 100%;
  }
}

.message {
  background-color: $black;
  bottom: 0;
  color: $off-white;
  font-family: $monospace-font;
  height: 100%;
  position: absolute;
  width: 100%;
}

.add {
  background-color: $white;
  border: 1px solid $mid-grey;
}
