@import '../../common/variables';

.available-project {
  display: block;
  margin: 0.5em 0;
  float: left;
  width: 33.333333%;

  .tracking-removed-project {
    text-decoration: line-through;
  }

  .tracking-removed-info {
    margin-left: 0.5em;
  }

  .tracking-new-info {
    color: $new-text;
    margin-left: 0.5em;
  }
}
