version: 2

jobs:
  build:
    working_directory: ~/nevergreen

    docker:
      - image: circleci/openjdk:8-jdk

    steps:
      - checkout

      - restore_cache:
          keys:
            - v4-nevergreen-ui-{{ checksum ".nvmrc" }}-{{ checksum "package-lock.json" }}
            - v4-nevergreen-ui-{{ checksum ".nvmrc" }}- # fall back to any cache for the current version of node

      - restore_cache:
          keys:
            - v1-nevergreen-server-{{ checksum "project.clj" }}

      - run:
          name: update version
          command: |
            export BUILD_NUM=$CIRCLE_BUILD_NUM
            export COMMIT_HASH=${CIRCLE_SHA1:0:7}
            ./ci/update-version.sh

      - run:
          name: install node
          command: ./ci/install-node.sh

      - run:
          name: build
          environment:
            BASH_ENV: "~/.nvm/nvm.sh"
          command: |
            ./ci/dependencies.sh
            ./ci/compile.sh

      - save_cache:
          key: v1-nevergreen-server-{{ checksum "project.clj" }}
          paths:
            - ~/.m2
      - save_cache:
          key: v4-nevergreen-ui-{{ checksum ".nvmrc" }}-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
            - ~/.nvm

      - run:
          name: test
          environment:
            BASH_ENV: "~/.nvm/nvm.sh"
          command: ./ci/test.sh

      - store_test_results:
          path: ./target/test-reports

      - store_artifacts:
          path: ./target/nevergreen-standalone.jar
      - store_artifacts:
          path: ./coverage

      - persist_to_workspace:
          root: .
          paths:
            - ./resources/*.txt
            - ./ci/*
            - ./target/nevergreen-standalone.jar
            - ./Dockerfile

  deploy-staging:
    working_directory: ~/nevergreen

    docker:
      - image: circleci/openjdk:8-jdk

    steps:
      - setup_remote_docker

      - attach_workspace:
          at: ~/nevergreen

      - add_ssh_keys:
          fingerprints:
            - "84:1d:85:ed:80:92:c5:21:53:15:54:b9:52:99:29:35"

      - run:
          name: add nevergreen.io to known hosts
          command: |
            mkdir -p ~/.ssh
            ssh-keyscan 35.176.150.70 >> ~/.ssh/known_hosts

      - run:
          name: export version
          command: ./ci/export-version.sh

      - run:
          name: deploy staging
          command: ./ci/deploy.sh

      - run:
          name: smoke test
          environment:
            HOST: "https://staging.nevergreen.io"
          command: ./ci/smoke-test.sh

      - run:
          name: create docker image
          command: |
            docker build -t buildcanariesteam/nevergreen:staging .
            docker login -u ${DOCKER_HUB_USERNAME} -p ${DOCKER_HUB_PASSWORD}
            docker push buildcanariesteam/nevergreen:staging

  functional-tests:
    working_directory: ~/nevergreen

    docker:
      - image: circleci/openjdk:8-jdk-browsers

    steps:
      - checkout

      - restore_cache:
          key: v1-nevergreen-server-{{ checksum "project.clj" }}

      - attach_workspace:
          at: ~/nevergreen

      - run:
          name: export version
          command: ./ci/export-version.sh

      - run:
          name: functional tests
          environment:
            FUNCTIONAL_URL: "https://staging.nevergreen.io"
            TRAY_USERNAME: ""
            TRAY_PASSWORD: ""
            TRAY_URL: "https://drive.google.com/uc?export=download&id=0BzdMs1jfanaARkJJX1VRR2QtdTA"
          command: ./ci/functional-test.sh

      - store_artifacts:
          path: ./target/functional

  deploy-prod:
    working_directory: ~/nevergreen

    docker:
      - image: circleci/openjdk:8-jdk

    steps:
      - attach_workspace:
          at: ~/nevergreen

      - add_ssh_keys:
          fingerprints:
            - "84:1d:85:ed:80:92:c5:21:53:15:54:b9:52:99:29:35"

      - run:
          name: add nevergreen.io to known hosts
          command: |
            mkdir -p ~/.ssh
            ssh-keyscan 35.176.150.70 >> ~/.ssh/known_hosts

      - run:
          name: install command line json parser
          command: sudo apt-get install jq

      - run:
          name: export version
          command: ./ci/export-version.sh

      - run:
          name: deploy production
          command: ./ci/release.sh

      - run:
          name: smoke test
          environment:
            HOST: "https://nevergreen.io"
          command: ./ci/smoke-test.sh

      - run:
          name: create release on GitHub
          command: ./ci/release-github.sh

      - run:
          name: tweet release
          command: ./ci/release-tweet.sh

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy-staging:
          requires:
            - build
      - functional-tests:
          requires:
            - deploy-staging
      - hold:
          type: approval
          requires:
            - functional-tests
      - deploy-prod:
          requires:
            - hold
