@use '../layout';
@use '../typography';
@use '../responsive';

.icon {
  @include typography.font-scale(2);

  display: flex;

  @include responsive.respond-to(very-small) {
    display: none;
  }
}

.title {
  flex-grow: 1;
  margin: 0 layout.$spacing-width 0 0;
}
