@use '../colours';
@use '../layout';

.card {
  border: 1px solid colours.$mid-grey;
  display: flex;
  flex-direction: column;
  margin: layout.$spacing-height 0 0 0;
  width: 100%;

  &:focus-within {
    border-color: colours.$black;
  }
}

.header {
  align-items: center;
  background-color: #ececec;
  display: flex;
  padding: layout.$card-header-padding;
}

.body {
  padding: 1em;

  & > *:first-child {
    margin-top: 0;
  }
}
