@import '../../common/variables';
@import '../../common/responsive';
@import '../../common/layout';

.whereContainer {
  align-items: flex-end;
  display: flex;
}

.where {
  @extend %first;

  @include fixed-width(20em);

  margin-right: $margin-right;

  @include respond-to(very-small) {
    margin-right: 0;
  }
}

.id,
.password {
  @include fixed-width(38em);
}

.add {
  margin: $margin-top 0 0 0;
}
