@import '../../common/fonts/icon-font';
@import '../../common/responsive';
@import '../../common/typography';
@import '../../common/layout';
@import '../../common/variables';
@import '../../common/forms/button';

.container {
  @extend %three-column-grid;

  list-style: none;
  margin: 0;
  padding: 1em;
}

.addNew {
  border: 1px solid $mid-grey;
  padding: 1em;
}

// double classname to increase specificity so it overrides the default link button styles
.addNewButton.addNewButton {
  @extend %fill-parent;
  @extend .icon-plus;
  @extend .withIcon;

  align-items: center;
  border-style: dashed;
  border-width: 2px;
  color: $mid-grey;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 350px;
  white-space: normal;

  &:enabled {
    box-shadow: none;
  }

  @include respond-to(tablet, desktop) {
    @include font-scale(3);
  }
}
