@use '../../common/colours';
@use '../../common/typography';
@use '../../common/accessibility';
@use '../../common/layout';

.data {
  @include typography.font-scale(-2);

  border: 1px solid colours.$mid-grey;
  font-family: typography.$monospace-font;
  height: 20em;
  margin: layout.$spacing-height 0 0 0;
  padding: 0.5em;
  resize: vertical;
  vertical-align: top; // remove whitespace from the bottom
  white-space: pre;
  width: 100%;

  &:not(:disabled) {
    &:read-write {
      @include accessibility.interactive($focus-color-change-percentage: 0%);
    }

    &:read-only {
      &:focus {
        @include accessibility.focus($focus-color-change-percentage: 0%);
      }
    }
  }
}

.containerError {
  border-left: 5px solid colours.$error;
  padding-left: 1em;
}

.error {
  outline: 3px solid colours.$error;
  z-index: layout.$focus-index;
}

.errorMessage {
  color: colours.$error;
  font-weight: bold;
  list-style: none;
  margin: 0.5em 0;
}
