@font-face {
	font-family: 'icomoon';
	src:url('fonts/icons/icomoon.eot?75vu0r');
	src:url('fonts/icons/icomoon.eot?75vu0r#iefix') format('embedded-opentype'),
		url('fonts/icons/icomoon.ttf?75vu0r') format('truetype'),
		url('fonts/icons/icomoon.woff?75vu0r') format('woff'),
		url('fonts/icons/icomoon.svg?75vu0r#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
	content: "\e94e";
}
.icon-display:before {
	content: "\e956";
}
.icon-drawer2:before {
	content: "\e95d";
}
.icon-floppy-disk:before {
	content: "\e962";
}
.icon-cog:before {
	content: "\e994";
}
.icon-list:before {
	content: "\e9ba";
}
.icon-eye:before {
	content: "\e9ce";
}
.icon-notification:before {
	content: "\ea08";
}
.icon-question:before {
	content: "\ea09";
}
.icon-cross:before {
	content: "\ea0f";
}
.icon-checkmark:before {
	content: "\ea10";
}
.icon-loop2:before {
	content: "\ea2e";
}
.icon-circle-up:before {
	content: "\ea41";
}
.icon-circle-down:before {
	content: "\ea43";
}
.icon-checkbox-checked:before {
	content: "\ea52";
}
.icon-checkbox-unchecked:before {
	content: "\ea53";
}
.icon-twitter3:before {
	content: "\ea93";
}
.icon-github4:before {
	content: "\eab4";
}
.icon-IcoMoon:before {
	content: "\eaea";
}
