@font-face {
  font-family: 'icomoon';
  src: url('fonts/nevergreen.eot?-k42nl4');
  src: url('fonts/nevergreen.eot?#iefix-k42nl4') format('embedded-opentype'),
  url('fonts/nevergreen.woff?-k42nl4') format('woff'),
  url('fonts/nevergreen.ttf?-k42nl4') format('truetype'),
  url('fonts/nevergreen.svg?-k42nl4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
  content: "\e90d";
}

.icon-clock:before {
  content: "\e94e";
}

.icon-drawer2:before {
  content: "\e95d";
}

.icon-quotes-left:before {
  content: "\e977";
}

.icon-quotes-right:before {
  content: "\e978";
}

.icon-cog:before {
  content: "\e994";
}

.icon-eye:before {
  content: "\e9ce";
}

.icon-eye-plus:before {
  content: "\e9cf";
}

.icon-eye-minus:before {
  content: "\e9d0";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-checkmark:before {
  content: "\ea10";
}

.icon-loop2:before {
  content: "\ea2e";
}

.icon-twitter3:before {
  content: "\ea93";
}

.icon-github:before {
  content: "\eab1";
}

