// Fonts

$monospace: "Source Code Pro", monospace;

// Colours

$off-black: #212121;
$blue: #03a9f4;
$dark-blue: #0358F3;
$mid-grey: #7E7E7E;
$mid-grey2: #999999;
$light-grey: #ECECEC;
$off-white: #F2F2F2;
$off-white2: #FFFED7;

$healthy-building: #FFFF18;
$healthy-building-text: #4A2F27;
$sick: #B30400;
$sick-building: #FF6400;

$new-text: #f32196;
$danger: #900;
$danger-text: #df3e3e;

// Sizes

$menu-width: 12em;