//FONTS

@font-face {
  font-family: "Source Code Pro";
  src: url(/fonts/SourceCodePro-Regular.otf);
}
$monospace : "Source Code Pro", monospace;


//COLOURS
$off-black:  #212121;
$blue:       #03a9f4;
$dark-blue:  #0358F3;
$hot-pink:   #f32196;
$mid-grey:   #7e7e7e;
$mid-grey2:  #999999;
$light-grey: #ececec;
$off-white:  #f2f2f2;
