@import '../variables';
@import '../fonts/icon-font';
@import '../typography';

@mixin _messages($icon, $color, $background-color) {
  @include font-scale(1);

  background-color: $background-color;
  color: $color;
  list-style: none;
  margin-top: 1em;

  .message:first-child {
    @extend .icon-#{$icon};

    &::before {
      @include font-scale(1);

      color: $color;
    }
  }
}

.error {
  @include _messages('notification', $white, $error);
}

.info {
  @include _messages('checkmark', $off-white, $blue);
}

.message {
  padding: 0.5em 0.5em 0.5em 2em;

  &:first-child {
    margin-left: 2em;
    padding-left: 0;

    &::before {
      margin-left: -2em;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}
