@import '../variables';

.messages {
  margin: 0.5em;
  border-radius: 0.5em;
  color: white;
  background-color: $off-black;
  list-style: none;

  .message {
    padding: 0.5em;
  }

  &.notification {
    background-color: $danger-text;
  }

  &.checkmark {
    background-color: $blue;
  }
}
