@import '../variables';
@import '../fonts/icon-font';
@import '../typography';

@mixin messages($icon, $color) {
  @include font-scale(1);

  border: 3px solid $color;
  list-style: none;
  margin-top: 1em;

  .message:first-child {
    @extend .icon-#{$icon};

    &::before {
      color: $color;
    }
  }
}

.error {
  @include messages('notification', $error);
}

.info {
  @include messages('checkmark', $blue);
}

.message {
  padding: 0.5em 0.5em 0.5em 2em;

  &:first-child {
    margin-left: 2em;
    padding-left: 0;

    &::before {
      margin-left: -2em;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}
