@import '../common/variables';
@import '../common/typography';
@import '../common/fonts/icon-font';
@import '../common/responsive';
@import '../common/forms/button';

.popUpNotification {
  background-color: $blue;
  color: $white;
  display: flex;
  padding: 1em;
}

.fullscreen {
  display: none;
}

.message {
  @include font-scale(2);

  @extend .icon-notification;

  align-self: center;
  flex-grow: 1;
  margin: 0 $margin-right 0 0;

  &::before {
    padding-right: 1em;
  }
}

.dismiss {
  @extend .primaryButton;

  align-self: flex-start;
}
