@import '../common/variables';
@import '../common/typography';
@import '../common/fonts/icon-font';
@import '../common/responsive';
@import '../common/forms/button';

.popUpNotification {
  @include font-scale(0);

  background-color: $blue;
  color: $white;
  display: block;
  padding: 1em;
}

.fullscreen {
  display: none;
}

.message {
  @include font-scale(1);

  @extend .icon-notification;

  display: inline;
  margin: 0;

  &::before {
    padding-right: 1em;
  }
}

.dismiss {
  @include icon-only-button('cross');
  @include font-scale(-1);

  @extend .primaryButton;

  display: inline;
  float: right;
  margin: 0;

  &:enabled {
    box-shadow: none;
  }

  @include respond-to(tablet, desktop) {
    @include font-scale(-1);
  }
}
