@import '../../common/layout';
@import '../../common/variables';
@import '../../common/accessibility';
@import '../../common/forms/button';
@import '../../common/fonts/icon-font.scss';
@import './local-backup';

.import {
  @extend %blocking;

  @include respond-to(tablet, desktop) {
    width: $button-size;
  }
}

.openFile {
  @include interactive();

  @extend .secondary;
  @extend .icon-folder-open;

  box-shadow: $shadow;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in;

  &::before {
    margin-right: 0.5em;
  }

  @include respond-to(tablet, desktop) {
    margin: $margin-top 0 0 0;
    width: $button-size;
  }
}

.openFileInput {
  @extend %visually-hidden;

  &:focus + label {
    @include focus();
  }
}
