@import '../../common/responsive';

$button-size: 220px;

.container {
  column-gap: 1em;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding: 1em;
  row-gap: 1em;

  @include respond-to(tablet, desktop) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
