/* Butchered from: http://www.andy-howard.com/verticalAndHorizontalAlignment/index.html */

li {
	float: left;
}
  
li .outerContainer {
	display: table;
	overflow: hidden;
	/* You must set the height and width on this element */
}

li .outerContainer .innerContainer {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	text-align: center;
}
