@import '../common/variables';

.help {
  border: 1px solid #ececec;
  padding: 1em;
}

.article {
  margin: $margin-top 0;
}

.keywords {
  display: inline-block;
  list-style: none;
}

.keyword {
  color: $mid-grey;
  display: inline-block;
  margin: 0 0.5em;
}

.keywordMatched {
  color: $off-black;
  font-weight: bold;
}
