@use '../common/layout';

.articles {
  list-style: none;
  margin: layout.$spacing-height 0 0 0;

  > li {
    margin: 0 0 layout.$spacing-height 0;
  }

  > li:last-child {
    margin: 0;
  }

  &:empty {
    display: none;
  }
}

.notFound {
  display: none;

  ul:empty + & {
    display: block;
  }
}
