@import '../../../common/forms/button';
@import '../../../common/layout';
@import '../../../common/responsive';

.import {
  @extend %blocking;
}

.helpContainer {
  display: flex;
}

.label {
  width: 6em;
}

.url {
  @extend %first;

  flex-grow: 1;
  margin: 0 1em 0 0;
}

.id {
  @include respond-to(tablet, desktop) {
    width: 38em;
  }
}

.accessToken {
  @include respond-to(tablet, desktop) {
    width: 38em;
  }
}
