@import '../../../common/layout';
@import '../../../common/variables';

.page {
  background: $white;
}

.header {
  background-color: $light-grey;
  padding: 1em;
}

.body {
  padding: 1em;
}

.message {
  margin: 0 0 $margin-top 0;
}

.fetchButton {
  display: block;
  margin: $margin-top 0 0 0;
}

.form {
  margin: $margin-top 0 0 0;
}
