@use '../../../common/responsive';
@use '../../../common/layout';

.tryAgain {
  @include responsive.respond-to(tablet, desktop) {
    display: inline-block;
    margin: layout.$spacing-height layout.$spacing-width 0 0;
  }
}

.cancel {
  @include responsive.respond-to(tablet, desktop) {
    display: inline-block;
    margin: layout.$spacing-height 0 0 0;
  }
}

.messages {
  margin: 0 0 layout.$spacing-height 0;
}

.form {
  margin: layout.$spacing-height 0 0 0;
}

.loading {
  height: auto;
}
