@import '../../../common/layout';
@import '../../../common/variables';
@import '../../../common/responsive';

.tryAgain {
  @include respond-to(tablet, desktop) {
    display: inline-block;
    margin: $margin-top $margin-right 0 0;
  }
}

.cancel {
  @include respond-to(tablet, desktop) {
    display: inline-block;
    margin: $margin-top 0 0 0;
  }
}

.messages {
  margin: 0 0 $margin-top 0;
}

.form {
  margin: $margin-top 0 0 0;
}

.loading {
  height: auto;
}
