@use '../../../common/colours';
@use '../../../common/accessibility';
@use '../../../common/forms/button';

.openFile {
  @include accessibility.interactive;
  @extend %secondary;

  box-shadow: colours.$shadow;
  transition: box-shadow 0.1s ease-in;
}

.openFileInput {
  @include accessibility.visually-hidden;

  &:focus + label {
    @include accessibility.focus;
  }

  &:disabled + label {
    background-color: colours.$light-grey;
    color: colours.$mid-grey;
  }
}
