@use '../common/colours';
@use '../common/responsive';
@use '../common/links';
@use '../common/layout';

.siteFooter {
  background-color: colours.$off-black;
  border-bottom: 0.5em solid colours.$version-color;
  display: block;
  padding: 1em;
  z-index: layout.$header-footer-index;

  @include responsive.respond-to(tablet, desktop) {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
  }
}

.hide {
  display: none;
}

.about {
  @include links.link(
    $color: colours.$white,
    $visited-color: colours.$white,
    $interactive-color: colours.$white,
    $interactive-background-color: colours.$black
  );

  text-align: left;
  text-decoration: none;
}

.submitAnIssue {
  @include links.link(
    $color: colours.$white,
    $visited-color: colours.$white,
    $interactive-color: colours.$white,
    $interactive-background-color: colours.$black
  );

  display: block;
  margin: layout.$spacing-height 0 0 0;

  @include responsive.respond-to(tablet, desktop) {
    margin: 0;
  }
}
