@import '../common/variables';
@import '../common/responsive';

.site-footer {
  background-color: $off-black;
  color: $white;
  padding: 1em 2em;
  border-bottom: 0.5em solid $off-black;
  display: block;

  &.fullscreen {
    display: none;
  }

  .version,
  .commit-hash {
    color: inherit;
    background-color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: darken($white, 10%);
    }
  }

  .version-number,
  .version-name,
  .commit-hash {
    display: inline-block;
  }

  .version-number,
  .commit-hash {
    float: left;
    clear: left;
  }

  .version-name {
    padding-left: 1em;
  }

  .commit-hash {
    font-size: 0.9rem;
    font-family: $monospace;
    margin-top: 1em;
  }
}
