@import '../common/variables';
@import '../common/responsive';
@import '../common/typography';

.siteFooter {
  background-color: $off-black;
  border-bottom: 0.5em solid $version-color;
  display: block;
  padding: 1em;

  @include respond-to(tablet, desktop) {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
  }
}

.fullscreen {
  display: none;
}

.about {
  @include font-scale(0);

  background: none;
  border: none;
  color: $white;
  display: block;
  margin-top: 0.5em;
  padding: 0;
  text-align: start;
  text-transform: none;

  &:enabled {
    box-shadow: none;

    &:hover,
    &:focus {
      background-color: inherit;
      color: darken($white, 10%);
    }
  }

  @include respond-to(tablet, desktop) {
    margin-top: 0;
  }
}

.submitAnIssue {
  margin-top: 0.5em;

  @include respond-to(tablet, desktop) {
    margin-top: 0;
  }
}

.version,
.submitAnIssue {
  color: $white;
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: inherit;
    color: darken($white, 10%);
  }

  &:visited {
    color: $white;
  }
}
