@import '../../../common/variables';
@import '../../../common/layout';

$label-size: 6em;

.export {
  @extend %blocking;
}

.label {
  width: $label-size;
}

.accessToken {
  @include respond-to(tablet, desktop) {
    width: 36em;
  }
}

.helpContainer {
  display: flex;
}
