@import '../common/variables';

.content-info {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: $menu-width;
  height: 6em;
}

.version {
  float: right;
  color: white;
  font-size: 0.8rem;
  padding: 0.5em;
  text-decoration: none;
  width: 100%;
}

.commit-hash {
  font-size: 0.7rem;
  font-family: $monospace;
}
