@import '../common/variables';

.navigation {
  background-color: $off-black;
  color: $white;
  width: $menu-width;
  position: fixed;
  height: 100%;
  padding-top: 1em;
  z-index: 100;

  .logo {
    height: 55px;
    width: 55px;
    margin: 0.4em auto;
    display: block;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    position: relative;
    display: block;
    text-align: center;
    color: $mid-grey;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1.05em 0;
    text-decoration: none;

    &:hover {
      .menu-icon {
        transition: color 0.2s ease-in-out;
        color: $white;
      }

      .menu-title {
        transition: color 0.2s ease-in-out;
        color: $white;
      }
    }

    &.active {
      color: $white;

      .menu-icon {
        color: $white;
      }

      &:hover {
        cursor: default;

        .menu-title {
          color: $white;
        }
      }
    }
  }

  .menu-icon {
    color: $mid-grey;
    font-size: 3rem;
    display: block;
    margin-bottom: 0.15em;
  }

  &.navigation-show {
    left: 0;
    transition: left 0.5s ease 0s;
  }

  &.navigation-hide {
    left: -$menu-width;
    transition: left 0.5s ease 0s;
  }
}
