@import '../common/variables';

.navigation {
  background-color: $off-black;
  color: white;
  width: $menu-width;
  position: fixed;
  height: 100%;
  padding-top: 1em;
}

.header-logo {
  height: 55px;
  width: 55px;
  margin: 0.4em auto;
  display: block;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-list-item {
  position: relative;
  display: block;
  text-align: center;
  color: $mid-grey2;
  text-transform: uppercase;
  font-size: 0.75em;
  padding: 1.05em 0;
  text-decoration: none;
  &:hover {
    .navigation-list-item-icon {
      transition: color 0.2s ease-in-out;
      color: white;
    }
    .navigation-list-item-title {
      transition: color 0.2s ease-in-out;
      color: white;
    }
  }
  &.active {
    color: white;
    .navigation-list-item-icon {
      color: white;
    }
    &:hover {
      cursor: default;
      .navigation-list-item-title {
        color: white;
      }
    }
  }
}

.navigation-list-item-icon {
  color: $mid-grey2;
  font-size: 3.5em;
  display: block;
  margin-bottom: 0.15em;
}

.navigation-show {
  left: 0;
  transition-property: left;
  transition-duration: 0.5s;
  transition-timing: ease;
  transition-delay: 0s;
}

.navigation-hide {
  left: -$menu-width;
  transition-property: left;
  transition-duration: 0.5s;
  transition-timing: ease;
  transition-delay: 0s;
}
