@import '../../common/variables';
@import '../../common/responsive';
@import '../../common/typography';

.page {
  background-color: $white;
  padding: 1em;
}

.addMessageInput {
  margin: 0;

  input {
    font-family: $monospace-font;
  }
}

.add {
  margin: $margin-top 0 0 0;
}

.cancel {
  display: inline-block;
  margin: $margin-top 0 0 0;
}
