@use '../../common/layout';
@use '../../common/typography';

.addMessageContainer {
  margin: 0;
}

.addMessageInput {
  font-family: typography.$monospace-font;
}

.add {
  margin: layout.$spacing-height 0 0 0;
}
