@import '../../common/variables';
@import '../../common/responsive';
@import '../../common/typography';

.container {
  background-color: $white;
  height: 100%;
  padding: 1em;
}

.form {
  border: 2px dashed $light-grey;
  height: 100%;
  padding: 1em;
}

.addMessageInput {
  margin: 0;

  input {
    font-family: $monospace-font;
  }
}

.add {
  margin: $margin-top 0 0 0;
}
