@use '../../common/layout';
@use '../../common/responsive';
@use '../../common/forms/forms';

.add {
  margin-top: 0;
}

.messages {
  @include layout.grid($mobile-columns: 2, $desktop-columns: 2);

  list-style: none;
  margin: 0;
}

.card {
  margin: 0;
}

.cardHeader {
  background-color: black;
  justify-content: flex-end;
  margin-bottom: calc(
    -#{layout.$card-header-padding * 2} - #{forms.$standard-input-size-mobile}
  );
  overflow: visible;

  @include responsive.respond-to(tablet, desktop) {
    margin-bottom: calc(
      -#{layout.$card-header-padding * 2} - #{forms.$standard-input-size-above-mobile}
    );
  }
}

.remove {
  z-index: 1;
}

.cardBody {
  padding: 0;
}
