@use '../../common/layout';

.add {
  margin-top: 0;
}

.messages {
  @include layout.grid($mobile-columns: 2);

  list-style: none;
  margin: 0;
}

.card {
  margin: 0;
}

.cardBody {
  padding: 0;
}
