@import '../../common/variables';
@import '../../common/responsive';
@import '../../common/layout';
@import '../../common/typography';

.add {
  margin-top: 0;
}

.messages {
  @extend %two-column-grid;

  list-style: none;
  margin: 0;
}

.messageItem {
  background-color: $black;
  border: 1px solid $mid-grey;
}

.messageWrapper {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 56.25%; // 16:9
    width: 100%;
  }
}

.message {
  background-color: $black;
  bottom: 0;
  color: $off-white;
  font-family: $monospace-font;
  height: 100%;
  position: absolute;
  width: 100%;
}
