@import '../variables';
@import '../fonts/icon-font';
@import '../typography';
@import '../accessibility';

@mixin show-hide-icon($icon) {
  @extend .icon-circle-#{$icon};

  &::before {
    @include font-scale(1);

    margin-left: 1em;
    margin-right: 0.5em;
  }
}

.container {
  background-color: $white;
  box-shadow: $shadow;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.titleBar {
  background: $mid-grey;
  color: $white;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

  @include interactive($white, $mid-grey, $mid-grey);
}

.title {
  display: inline-block;
  font-weight: 400;
  padding: 0.5em;
}

.subTitle {
  @include font-scale(1);

  display: inline-block;
  font-weight: normal;
  padding-left: 1em;
}

.show {
  @include show-hide-icon(down);
}

.hide {
  @include show-hide-icon(up);
}

.highlight {
  animation: highlight 2s;
}

@keyframes highlight {
  0% {
    background: $blue;
  }

  100% {
    background: $mid-grey;
  }
}
