@import '../variables';

.container {
  font-size: 1.5rem;
  border: 1px solid $mid-grey;
  background-color: white;
  margin-bottom: 1em;

  .section-title {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.5em;
    background: $mid-grey;
    color: white;
    text-overflow: ellipsis;
    cursor: pointer;

    .section-sub-title {
      font-size: 1.2rem;
      padding-left: 1em;
    }

    .show-hide {
      font-size: 1.2rem;
      margin-right: 0.5em;
    }

    &:hover,
    &:focus {
      color: darken(white, 10%);
    }
  }

  .highlight {
    animation: highlight 2s;
  }

  @keyframes highlight {
    0% {
      background: $blue;
    }

    100% {
      background: $mid-grey;
    }
  }
}
