@import '../variables';
@import '../fonts/icon-font';

@mixin show-hide-icon($icon) {
  @extend .icon-circle-#{$icon};

  &::before {
    @extend .icon;

    font-size: 1.2rem;
    margin-left: 1em;
    margin-right: 0.5em;
  }
}

.container {
  font-size: 1.5rem;
  border: 1px solid $mid-grey;
  background-color: $white;
  margin-bottom: 1em;
  box-shadow: $shadow;

  .title-bar {
    background: $mid-grey;
    color: $white;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover,
    &:focus {
      color: darken($white, 10%);
    }
  }

  .section-title {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.5em;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .section-sub-title {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: normal;
    padding-left: 1em;
  }

  .show {
    @include show-hide-icon(down);
  }

  .hide {
    @include show-hide-icon(up);
  }

  .highlight {
    animation: highlight 2s;
  }

  @keyframes highlight {
    0% {
      background: $blue;
    }

    100% {
      background: $mid-grey;
    }
  }

  .container-body {
    padding: 1em;
  }
}
