@import '../../../common/forms/button';
@import '../../../common/layout';
@import '../../../common/responsive';

$label-size: 6em;

.import {
  @extend %blocking;
}

.label {
  width: $label-size;
}

.accessToken {
  @include respond-to(tablet, desktop) {
    width: 36em;
  }
}

.help {
  display: flex;
}
