@import '../../common/variables';
@import '../../common/responsive';
@import '../../common/layout';

.addBackup {
  background-color: $white;
  margin: 2em 0 0 0;

  @include respond-to(very-small) {
    overflow: scroll;
  }
}

.label {
  @include fixed-width(6em);

  display: inline-block;
}

.whereContainer {
  align-items: flex-end;
  display: flex;
}

.where {
  @extend %first;

  @include fixed-width(20em);

  margin-right: $margin-right;

  @include respond-to(very-small) {
    margin-right: 0;
  }
}

.gitHubLabOnly {
  @include respond-to(very-small, mobile) {
    display: none;
  }

  @include respond-to(tablet, desktop) {
    visibility: hidden;
  }
}

.id {
  @include fixed-width(38em);
}

.accessToken {
  @include fixed-width(38em);
}

.add {
  margin: $margin-top * 2 0 0 0;
}
