@import '../variables';
@import '../layout';

.interestingProject {
  @extend %fillParent;

  border-radius: 5px;
  display: table;
  padding: 1em;
  text-transform: lowercase;
}

.healthy-building {
  background-color: $healthy-building;
  color: $healthy-building-text;
}

.sick {
  background-color: $sick;
  color: $off-white;
}

.sick-building {
  background-color: $sick-building;
  color: $white;
}

.unknown {
  background-color: $light-grey;
  color: $off-black;
}

.inner {
  display: table-cell;
  vertical-align: middle;
}

.name,
.stage,
.projectName {
  display: inline;
}

.timeBroken {
  display: inline;
  font-style: italic;
  opacity: 0.5;
}

.buildLabel {
  display: inline;
  opacity: 0.3;
}

.duration {
  display: inline;
  font-style: italic;
  opacity: 0.5;
}
