@import '../../../common/variables';
@import '../../../common/forms/button';
@import '../../../common/typography';

.label {
  @include font-scale(1);

  display: block;
  margin: 0.5em 1em 0.5em 0;
}

.data {
  @include font-scale(-2);

  border: 1px solid $mid-grey;
  font-family: $monospace;
  height: 20em;
  margin-bottom: 1em;
  padding: 0.5em;
  white-space: pre;
  width: 100%;

  &:focus {
    outline: none;

    &:read-write {
      border-color: $blue;
    }
  }
}

.copy {
  @include button();
  @include button-icon('paste');
}
