@import '../../../common/variables';
@import '../../../common/forms/button';
@import '../../../common/typography';
@import '../../../common/layout';

.label {
  @include font-scale(1);

  display: block;
  margin: 0.5em 1em 0.5em 0;
}

.data {
  @include font-scale(-2);

  border: 1px solid $mid-grey;
  font-family: $monospace-font;
  height: 20em;
  padding: 0.5em;
  vertical-align: top; // remove whitespace from the bottom
  white-space: pre;
  width: 100%;

  &:focus {
    outline: none;

    &:read-write {
      border-color: $blue;
    }
  }
}

.copy {
  @include button-icon('paste');

  @extend .primaryButton;
  @extend %blockMargin;
}
