form {
    padding-bottom: 1em;
}

#actions-panel {
    font-size: 2em;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: #FFFED7 solid 1px;

}

.button {
    font-size: 1em;
    border-radius: 10px;
    padding: 0 0.3em;
    border: none;
    background-color: #FFFED7;
}

#cctray-url {
    border-radius: 10px;
    border: none;
    padding: 0 0.5em;
    font-size: 1em;
    width: calc(100% - 400px);
}

#projects {
    margin-top: 11.5em;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li {
    background-color: black;
    padding: 0.3em;
    margin: 0.3em 0.2em;
    border-radius: 10px;
    float: left;
    border: 0.1em solid rgb(48, 48, 143);
    min-width: 32%;
    min-height: 40px;
    vertical-align: middle;
    line-height: 2em;
    cursor: pointer
}

.included {
    background-color: rgb(48, 48, 143);
}

.hidden {
    display: none;
}
