form {
    border-bottom: #276B00 solid 1px;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
}

#cctray-form {
    font-size: 2em;
}

#cctray-save {
    font-size: 1em;
    border-radius: 10px;
    padding: 0 0.3em;
    border: none;
}

#cctray-url {
    border-radius: 10px;
    border: none;
    padding: 0 0.5em;
    font-size: 1em;
    width: 75%;
}




li {
    background-color: rgb(48, 48, 143);
    padding: 0.3em;
    margin: 0.3em 0.2em;
    border-radius: 10px;
}