body {
    background-color: white;
    color: black;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
}

#actions-panel {
    font-size: 2em;
    top: 0;
    width: 95.3%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-align: left;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid gray;
}

#project-controls {
    margin-top: 0.4em;
}

label {
    width: 7.2em;
    display: inline-block;
}

#cctray-url, #success-text {
    border: none;
    padding: 0 0.5em;
    font-size: 1em;
    width: calc(100% - 250px);
}

#cctray-url {
    color: #2196F3;
    border-bottom: 3px solid #2196F3;
}

#success-text {
    color: black;
    border-bottom: 3px solid #2196F3;
}

#success {
    text-align: left;
    margin-top: 0.5em;
}

.button {
    font-size: 1em;
    border-radius: 10px;
    padding: 0 0.3em;
    cursor: pointer;
    box-shadow: none;
}

.select-all {
    font-size: 0.6em;
    width: 10em;
    padding: 0.2em;
    background-color: rgb(239, 239, 239);
    border-color: rgb(239, 239, 239);
}

#projects {
    margin-top: 14.5em;
    clear: both;
}

.no-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    box-sizing: border-box;
}

ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

li {
    box-sizing: border-box;
    display: inline-block;
    width: 33.3333%;
    padding: 4px 8px;
    margin-bottom: 10px;
    height: 42px;
    vertical-align: middle;
    line-height: 2em;
    cursor: pointer;
    color: rgb(194, 185, 185);
    border-radius: 0;
    border-left: 3px solid rgb(239, 239, 239);
}

li.new {
    line-height: 1em;
}

sup {
    color: #f32196;
}

.included {
    border-left: 3px solid #2196F3;
    color: black;
}

.hidden {
    display: none;
}

.centered {
    z-index: 1001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8);
}

.error {
    text-align: center;
    color: red;
    font-size: 4em;
}

#loading-modal.loading.modal {
    display: block;
}



#version-number {
    color: black;
    background-color: #EFCDB8;
    font-size: 1em;
    padding: 0.5em;
    text-decoration: none;
    position: fixed;
    right: 0;
    bottom: 0;
}

#save-projects {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2px;
}

#save-projects input {
    width: 12em;
    background-color: #2196F3;
    color: white;
    font-size: 2em
}