@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/SourceCodePro-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro";
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px;
  border-radius: 5px;
}

.healthy {
  background-color: green;
}

.healthy-building {
  background-color: yellow;
}

.sick {
  background-color: red;
}

.sick-building {
  background-color: orange;
}