@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/SourceCodePro-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro" monospace;
}

body {
    background-color: black;
    color: #FFFED7;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    margin: 5px;
    border-radius: 25px;
}

.healthy {
    background-color: #276B00;
}

.healthy-building {
    background-color: #FFFF18;
    color: #4A2F27;
}

.sick {
    background-color: #B30400;
}

.sick-building {
    background-color: #FF6400;
}

.config-link {
    z-index: 1001;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: gray;
    padding: 1em;
    text-decoration: none;
    border-radius: 1em;
    color: white;

    display: none;
}