@import '../variables';
@import '../responsive';
@import '../typography';
@import '../accessibility';

.tabs {
  background: $light-grey;
  color: $mid-grey;
  padding: 0.5em 0.5em 0;
  overflow: scroll;
  white-space: nowrap;
}

.tab {
  @include font-scale(0);

  display: inline-block;
  position: relative;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid $light-grey;
  padding: 0.5em 1.5em;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $light-grey;
  color: $off-black;
  cursor: pointer;
  margin-right: 0.5em;

  &:enabled {
    @include interactive($off-black, $light-grey, $light-grey);
  }

  &:disabled {
    cursor: inherit;
    border-top-color: $blue;
    border-bottom-color: $white;
    background-color: $white;
  }

  &:last-child {
    margin-right: 0;
  }
}

.contents {
  padding: 1em;
}
