@import '../variables';
@import '../responsive';
@import '../typography';
@import '../accessibility';

.tabs {
  background: $light-grey;
  color: $mid-grey;
  overflow: scroll;
  padding: 0.5em 0.5em 0;
  white-space: nowrap;
}

.tab {
  @include font-scale(0);

  background-color: $light-grey;
  border: 1px solid $light-grey;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: $off-black;
  cursor: pointer;
  display: inline-block;
  margin: 0 0.5em 0 0;
  padding: 0.5em 1.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;

  &:enabled {
    @include interactive($off-black, $light-grey, $light-grey) {
      box-shadow: none;
    }

    box-shadow: none;
  }

  &:disabled {
    background-color: $white;
    border-bottom-color: $white;
    border-top-color: $blue;
    color: $off-black;
    cursor: inherit;
  }

  &:last-child {
    margin-right: 0;
  }
}

.tabPanel {
  padding: 1em;
}

.hidden {
  display: none;
}
