.contentinfo {
  clear: both;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 10%;
}

.version {
  float: right;
  background-color: #CC6666;
  color: white;
  font-size: 0.9em;
  padding: 0.5em;
  text-decoration: none;
  width: 100%;
}
