.contentinfo {
  clear:both;
  background-color: white;
  position: fixed;
  right: 0;
  bottom: 0;
}

.version {
  float: right;
  background-color: #6E5160;
  color: white;
  font-size: 1em;
  padding: 0.5em;
  text-decoration: none;
}