.dashboard-header {
  position: fixed;
  padding: 1em 0;
  background-color: #ececec;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  z-index: 1;
  width: 100%;
}
  .dashboard-header-logo {
    position: absolute;
    top: 0.9em;
    left: 2.5em;
    height: 55px;
    width: 55px;
  }
  .dashboard-header-title {
    padding: 0 0 0 12%;
    margin: 0.5em 0;
    font-weight: normal;
    color: #222222;
    opacity: 0.6;
    font-size: 1.5em;
  }
  .dashboard-header-monitor-link {
    position: absolute;
    top: 1.4em;
    right: 2em;
  }