.success-message {
  font-size: 2em;
  width: calc(100% - 15em);
  margin: 1em;
}

.success-remove {
  color: black;
}

.config-error {
  text-align: center;
  color: red;
  font-size: 4em;
}

.success-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.success-list-image {
  width: 400px;
  height: auto;
}