.success-text-form {}

.success-message-input {
  width: calc(100% - 15em);
  border: none;
  border-bottom: 2px solid $mid-grey;
  margin: 1em;
  &:focus {
    outline: none;
    border-bottom-color: $blue
  }
}

.success-remove {
  color: black;
}

.config-error {
  text-align: center;
  color: red;
  font-size: 4em;
}