.dashboard-navigation {
  background-color: #222222;
  color: #ffffff;
  width: 10%;
  float: left;
  position: fixed;
  height: 100%;
  padding-top: 1em;
}

.dashboard-header-logo {
  height: 55px;
  width: 55px;
  margin: 0.4em auto;
  display: block;
}

.dashboard-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dashboard-navigation-list-item {
  position: relative;
  display: block;
  text-align: center;
  color: #999999;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 1.3em 0;
  text-decoration: none;
  &:hover {
    .dashboard-navigation-list-item-icon {
      transition: color .2s ease-in-out;
      color: white;
    }
    .dashboard-navigation-list-item-title {
      transition: color .2s ease-in-out;
      color: white;
    }
  }
  &.active {
    color: white;
    .dashboard-navigation-list-item-icon {
      color: white;
    }
    &:hover {
      cursor: default;
      .dashboard-navigation-list-item-title {
        color: white;
      }
    }
  }
}

.dashboard-navigation-list-item-icon  {
  color: #999999;
  font-size: 3.5em;
  display: block;
  margin-bottom: 0.15em;
}
