.tracking-cctray-group {
  border: none;
  margin: 0;
}

.tracking-cctray-group-legend {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1em 0;
}

.tracking-cctray-group-cctray-form {
  font-size: 1.5rem;
  margin-bottom: 1em;

  padding: 1.5em;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.tracking-cctray-group-cctray-form-label {
  width: 38px;
  display: inline-block;
}

.tracking-cctray-group-cctray-form-input {
  width: calc(100% - 155px);
  border: none;
  border-bottom: 2px solid $mid-grey;
  &:focus {
    outline: none;
    border-bottom-color: $blue;
  }
}

.tracking-cctray-group-cctray-form-input-small {
  width: 60px;
  text-align: center;
}

.tracking-cctray-group-authentication {
  margin-top: 1em;
  font-size: 17px;
}

.tracking-cctray-group-cctray-form-input-authentication {
  width: 20em;
}

.tracking-cctray-group-builds {
  border: none;
  margin: 0;
  padding: 0 0 1.5em 0;
}

.tracking-cctray-group-builds-legend {
  color: $mid-grey;
  margin-bottom: 1em;
  float: left;
}

.tracking-cctray-group-build-toggles {
  float: left;
  position: relative;
  top: -0.5em;
  margin-left: 1em;
}

.tracking-cctray-group-build-items {
  clear: both;
  margin-bottom: 2em;
  padding-top: 0.2em;
  padding-bottom: 2em;
}

.tracking-cctray-group-build-item {
  display: block;
  margin: 0.8em 0;
  float: left;
  width: 50%;
}

.config-removed-project {
  text-decoration: line-through;
  color: $mid-grey;
}

.config-new-project {
  color: $hot-pink;
}

.config-removed-info {
  color: $mid-grey;
}

.tracking-cctrays {

}

.tray {
  flex: 1;
  font-size: 1.5rem;
  border: 1px solid $mid-grey;
  background-color: white;
}

.tray-title {
  font-size: 1.5rem;
  font-weight: 400;
  background: $mid-grey;
  color: #fff;
  text-overflow: ellipsis;
  display: inline;
}

.tray-content {
  padding: 1.5em;
}

.tray-settings {
  padding: 1.5em;

  label {
    width: 20%;
    display: inline-block;
  }

  span {
    width: 80%;
    display: inline-block;
  }
}

.tray-settings-danger-zone {
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  margin-top: 1em;
}

.tray-settings-danger-zone-title {
  background-color: #df3e3e;
  color: white;
  padding: 0.5em 1em;
}

.tray-settings-danger-zone-content {
  padding: 1em;
}

.tray-settings-table {
  width: 100%;
  margin: 0 0 1em 0;
  tr:nth-child(even) {
    background-color: $light-grey;
  }
}

.danger-button {
  color: #900;
}

.tray-title-container {
  padding: 0.5em;
  background: $mid-grey;
  color: #fff;
}

.tray-settings-button {
  font-size: 1.8rem;
  display: inline;
  float: right;
  padding: 0;
  border: none;
  background: none;
  color: white;
}