@font-face {
  font-display: swap;
  font-family: icomoon;
  font-style: normal;
  font-weight: normal;
  src:
    url('./icons/icomoon.ttf?x5ibwq') format('truetype'),
    url('./icons/icomoon.woff?x5ibwq') format('woff'),
    url('./icons/icomoon.svg?x5ibwq#icomoon') format('svg');
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: icomoon !important; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-folder-open::before {
  @extend .icon;

  content: '\e930';
}

.icon-floppy-disk::before {
  @extend .icon;

  content: '\e962';
}

.icon-cog::before {
  @extend .icon;

  content: '\e994';
}

.icon-list2::before {
  @extend .icon;

  content: '\e9ba';
}

.icon-eye::before {
  @extend .icon;

  content: '\e9ce';
}

.icon-notification::before {
  @extend .icon;

  content: '\ea08';
}

.icon-question::before {
  @extend .icon;

  content: '\ea09';
}

.icon-cross::before {
  @extend .icon;

  content: '\ea0f';
}

.icon-checkmark::before {
  @extend .icon;

  content: '\ea10';
}

.icon-loop2::before {
  @extend .icon;

  content: '\ea2e';
}

.icon-circle-up::before {
  @extend .icon;

  content: '\ea41';
}

.icon-circle-down::before {
  @extend .icon;

  content: '\ea43';
}

.icon-checkbox-checked::before {
  @extend .icon;

  content: '\ea52';
}

.icon-checkbox-unchecked::before {
  @extend .icon;

  content: '\ea53';
}

.icon-twitter3::before {
  @extend .icon;

  content: '\ea93';
}

.icon-github4::before {
  @extend .icon;

  content: '\eab4';
}

.icon-dice::before {
  @extend .icon;

  content: '\e915';
}

.icon-paste::before {
  @extend .icon;

  content: '\e92d';
}

.icon-lock::before {
  @extend .icon;

  content: '\e98f';
}

.icon-unlocked::before {
  @extend .icon;

  content: '\e990';
}

.icon-bin::before {
  @extend .icon;

  content: '\e9ac';
}

.icon-menu3::before {
  @extend .icon;

  content: '\e9bf';
}

.icon-menu4::before {
  @extend .icon;

  content: '\e9c0';
}

.icon-cloud-download::before {
  @extend .icon;

  content: '\e9c2';
}

.icon-cloud-upload::before {
  @extend .icon;

  content: '\e9c3';
}

.icon-plus::before {
  @extend .icon;

  content: '\ea0a';
}

.icon-play3::before {
  @extend .icon;

  content: '\ea1c';
}

.icon-stop2::before {
  @extend .icon;

  content: '\ea1e';
}

.icon-clock::before {
  @extend .icon;

  content: '\e94e';
}

.icon-display::before {
  @extend .icon;

  content: '\e956';
}

.icon-eye-blocked::before {
  @extend .icon;

  content: '\e9d1';
}

.icon-circle::before {
  @extend .icon;

  content: '\f111';
}
