@font-face {
  font-family: icomoon;
  src:
    url('common/fonts/icons/icomoon.ttf?rb9o91') format('truetype'),
    url('common/fonts/icons/icomoon.woff?rb9o91') format('woff'),
    url('common/fonts/icons/icomoon.svg?rb9o91#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'],
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock::before {
  content: '\e94e';
}

.icon-display::before {
  content: '\e956';
}

.icon-drawer2::before {
  content: '\e95d';
}

.icon-floppy-disk::before {
  content: '\e962';
}

.icon-cog::before {
  content: '\e994';
}

.icon-list::before {
  content: '\e9ba';
}

.icon-eye::before {
  content: '\e9ce';
}

.icon-notification::before {
  content: '\ea08';
}

.icon-question::before {
  content: '\ea09';
}

.icon-cross::before {
  content: '\ea0f';
}

.icon-checkmark::before {
  content: '\ea10';
}

.icon-loop2::before {
  content: '\ea2e';
}

.icon-circle-up::before {
  content: '\ea41';
}

.icon-circle-down::before {
  content: '\ea43';
}

.icon-checkbox-checked::before {
  content: '\ea52';
}

.icon-checkbox-unchecked::before {
  content: '\ea53';
}

.icon-twitter3::before {
  content: '\ea93';
}

.icon-github4::before {
  content: '\eab4';
}

.icon-IcoMoon::before {
  content: '\eaea';
}

.icon-dice::before {
  content: '\e915';
}

.icon-paste::before {
  content: '\e92d';
}

.icon-bin::before {
  content: '\e9ac';
}

.icon-menu3::before {
  content: '\e9bf';
}

.icon-menu4::before {
  content: '\e9c0';
}

.icon-plus::before {
  content: '\ea0a';
}

.icon-play3::before {
  content: '\ea1c';
}

.icon-arrow-right2::before {
  content: '\ea3c';
}

.icon-arrow-left2::before {
  content: '\ea40';
}

.icon-circle::before {
  content: '\f111';
}
