@import '../common/variables';

.import {
  .import-data {
    font-size: 1rem;
    margin: 0.5em 0.5em 0;
    padding: 0.5em;
    width: calc(100% - 1em);
    height: 20em;
    font-family: $monospace;
  }
}
