@import '../common/layout';
@import './export/gitlab/gitlab';

.label {
  width: $label-size;
}

.url {
  @extend %first;

  flex-grow: 1;
  margin: 0 1em 0 0;
}

.snippet {
  @include respond-to(tablet, desktop) {
    width: 36em;
  }
}
