.icon {
  margin: 0 0.5em 0 0;

  & > path {
    fill: currentColor;
  }
}

.loop {
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
