.config {
  background-color: white;
  color: black;
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
}

.config-actions-panel {
  font-size: 2em;
  top: 0;
  width: 95.3%;
  padding-top: 1em;
  padding-bottom: 0.5em;
  text-align: left;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid gray;
}

.config-project-controls {
  margin-top: 0.4em;
}

.config-input-text {
  border: none;
  padding: 0 0.5em;
  font-size: 1em;
  width: calc(85% - 250px);
}

.config-cctray-url {
  color: #2196F3;
  border-bottom: 3px solid #2196F3;
}

.config-success-text {
  color: black;
  border-bottom: 3px solid #2196F3;
}

.config-success {
  text-align: left;
  margin-top: 0.5em;
}

.config-success-image {
  width: 10em;
  margin-top: 1em;
}

.success-form-label {
  margin-right: 53px;
}

.success-form-input {
  width: 30%;
}

.success-image-form {
  margin-top: 1em;
}

.config-button {
  font-size: 1em;
  border-radius: 10px;
  padding: 0 0.3em;
  cursor: pointer;
  box-shadow: none;
}

.config-select-all {
  font-size: 0.6em;
  width: 10em;
  padding: 0.2em;
  background-color: rgb(239, 239, 239);
  border-color: rgb(239, 239, 239);
}

.config-projects {
  box-sizing: border-box;
}

.config-project {
  list-style:none;
}

.config-project {
  box-sizing: border-box;
  padding: 0 0.3em 0.3em 0.3em;
  margin: 0.5em 0;
  cursor: pointer;
  color: rgb(194, 185, 185);
  border-radius: 0;
  border-left: 3px solid rgb(239, 239, 239);
}

.config-new-project {
  color: #f32196;
}

.config-version-number {
  color: black;
  background-color: #EFCDB8;
  font-size: 1em;
  padding: 0.5em;
  text-decoration: none;
  position: fixed;
  right: 0;
  bottom: 0;
}

.config-project-included {
  border-left: 3px solid #2196F3;
  color: black;
}

.config-error {
  text-align: center;
  color: red;
  font-size: 4em;
}

.config-watch {
  background-color: #2196F3;
  color: white;
  font-size: 1em;
  border: none;
  padding: 0.2em 1em 0.3em;
  position: absolute;
  top: 0.6em;
  right: 0;
}

.config-spinner {
  top: 50%;
}

// Sections

.config-projects-section {
  float: left;
  width: 48%;
  margin-top: 5em;
}

.config-success-section {
  float: right;
  width: 48%;
  margin-top: 5em;
}