.dashboard {
  background: #222222;

  //ROOT LEVEL
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; //TODO - move this, only here to overide other css
  }

  //HELPERS
  @mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .visuallyhidden { @include visuallyhidden; }


  //COMMON
  .label-checkbox {
    &:hover {
      cursor: pointer;
    }
  }
  .checkbox {
    position: relative;
    top: -2px;
    margin: 0 0.7em 0 0 ;    
    cursor: pointer;
    &:before {
      transition: transform .4s cubic-bezier(.45,1.8,.5,.75);
      transform: rotate(-45deg) scale(0, 0);
      content: "";      
      position: absolute;
      left: 4px;
      top: 3px;
      z-index: 1;
      width: 12px;
      height: 6px;
      border: 2px solid #03a9f4;
      border-top-style: none;
      border-right-style: none;
    }
    &:after {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 1.1em;
      height: 1.1em;      
      background: #fff;
      border: 2px solid #f2f2f2;
      border-radius: 2px;
      cursor: pointer;
    }
    &:checked {
      &:before {
        transform: rotate(-45deg) scale(1, 1);
        border-color: #fff;
      } 
      &:after {
        border-color: #03a9f4;
        background: #03a9f4;
      }
    }
  }
  .dashboard-button {
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    position: relative;
    padding: 0.5em 1.5em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255,255,255,.84);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    outline: none;
    transition: background-color 0.1s ease-in;
    transition: box-shadow 0.1s ease-in;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26);
    }
    &:focus {
      outline: none;
      border-radius: 0;
    }
  }
  .dashboard-button-small {
    font-size: 0.7em;
    padding: 0.6em 1.5em;
  }
  .dashboard-button-primary {
    background-color: #0358F3;
    &:hover {
      background-color: darken(#0358F3, 4%);
    }
  }
  .dashboard-button-secondary {
    background-color: #03a9f4;
    &:hover {
      background-color: darken(#03a9f4, 4%);
    }
  }
  .dashboard-button-white {
    background-color: #ffffff;
    color: #212121;
    &:hover {
      background-color: darken(#ffffff, 2%);
    }
  }


  //HEADER
  .dashboard-header {
    position: relative;
    padding: 1em 0;
    background-color: #ececec;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    z-index: 1;
  }
    .dashboard-header-logo {
      position: absolute;
      top: 0.9em;
      left: 2.5em;
      height: 55px;
      width: 55px;
    }
    .dashboard-header-title {
      padding: 0 0 0 12%;
      margin: 0.5em 0;
      font-weight: normal;
      color: #222222;
      opacity: 0.6;
      font-size: 1.5em;
    }
    .dashboard-header-monitor-link {
      position: absolute;
      top: 1.4em;
      right: 2em;
    }


  //DASHBOARD NAV
  .dashboard-navigation {
    background-color: #222222;
    color: #ffffff;
    width: 10%;
    float: left;
  }
    .dashboard-navigation-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .dashboard-navigation-list-item {
      position: relative;
      display: block;
      text-align: center;
      color: #999999;
      text-transform: uppercase;
      font-size: 0.8em;
      padding: 1.8em 0;
      text-decoration: none;
      &:hover {
        .dashboard-navigation-list-item-icon {
          transition: color .2s ease-in-out;
          color: white;
        }
        .dashboard-navigation-list-item-title {
          transition: color .2s ease-in-out;
          color: white;
        }
      }
      &.active {
        background: white;
        color: #03a9f4;
        .dashboard-navigation-list-item-icon {
          color: #03a9f4;
        }
        &:hover {
          cursor: default;
          .dashboard-navigation-list-item-title {
            color: #03a9f4;
          }
        }
      }
    }  
    .dashboard-navigation-list-item-icon  {
      color: #999999;
      font-size: 5em;
      display: block;
      margin-bottom: 0.15em;
    }
      




  //DASHBOARD MAIN
  .dashboard-main {
    background-color: white;
    width: 90%;
    padding: 2%;
    float: left;
  }
    .dashboard-main-section {
      display: none;
      min-height: 35em;
      &.active {
        display: block;
      }
    }



  //CCTRAY GROUP
  .tracking-cctray-group {
    border: none;
    margin: 0;
    padding: 0;
  }
    .tracking-cctray-group-legend {
      font-weight: bold;
      font-size: 1.5rem;
      margin: 1em 0;
    }
    .tracking-cctray-group-cctray-form {
      font-size: 1.5rem;
      margin-bottom: 1em;
    }
      .tracking-cctray-group-cctray-form-label {
        width: 38px;
        display: inline-block;
      }
      .tracking-cctray-group-cctray-form-input {
        width: calc(100% - 155px);
        border: none;
        border-bottom: 2px solid #7e7e7e;
        &:focus {
          outline: none;
          border-bottom-color: #03a9f4;
        }
      }
      .tracking-cctray-group-cctray-form-button {
        width: 90px;
      }
      .tracking-cctray-group-cctray-form-input-small {
        width: 60px;
      }
    .tracking-cctray-group-builds {
      border: none;
      margin: 0;
      padding: 0 0 1.5em 0;
    }
      .tracking-cctray-group-builds-legend {
        color: #757575;
        margin-bottom: 1em;
        float: left;
      }
      .tracking-cctray-group-build-toggles {
        float: left;
        position: relative;
        top: -0.5em;
        margin-left: 1em;
      }
      .tracking-cctray-group-build-items {
        clear: both;
        margin-bottom: 2em;
        padding-top: 0.2em;
        padding-bottom: 2em;
      }
      .tracking-cctray-group-build-item {
        display: block;
        margin: 1em 0;
        float: left;
        width: 50%;
      }



  //SUCCESS
  .success-text-form {}



  //FOOTER
  .contentinfo {
    clear:both;
    width: 90%;
    margin-left: 10%;
    padding: 2%;
    background-color: white;
  }

  .version {
    float: right;
    background-color: #EFCDB8;
    color: #000;
    font-size: 1em;
    padding: 0.5em;
    text-decoration: none;
  }
}