.dashboard {
  background: $light-grey;
  font-family: 'Roboto', sans-serif;
}

.dashboard-main-section {
  width: 90%;
  padding: 2%;
  float: left;
  margin-left: 10%;
  min-height: 35em;
  &.active {
    display: block;
  }
}

.config-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-with-icon {
  padding-left: 1em;
}