.export-text {
  font-size: 0.7em;
  margin: 0.5em 0.5em 0 0.5em;
  padding: 0.5em;
  width: calc(100% - 1em);
  height: 20em;
  font-family: $monospace;
}

.export-info-message {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  background-color: $blue;
  color: white;
}