.content-info {
  clear: both;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 10%;
}

.version {
  float: right;
  background-color: $version;
  color: white;
  font-size: 0.9em;
  padding: 0.5em;
  text-decoration: none;
  width: 100%;
}

.commit-hash {
  font-size: 0.8em;
  font-family: $monospace;
}