.dashboard {
  background: $light-grey;
  font-family: Roboto, sans-serif;
}

.dashboard-main-section {
  width: calc(100% - #{$menu-width});
  padding: 2em;
  float: left;
  margin-left: $menu-width;
  min-height: 35em;
  &.active {
    display: block;
  }
}

.sub-section {
  font-size: 1.5rem;
  border: 1px solid $mid-grey;
  background-color: white;
  margin-bottom: 1em;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5em;
  background: $mid-grey;
  color: white;
  text-overflow: ellipsis;
}

.section-sub-title {
  font-size: 1.2rem;
  padding-left: 1em;
  color: darken(white, 10%);
  text-overflow: ellipsis;
}

.config-spinner {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.text-with-icon {
  margin-left: 1em;
}

.checkbox-container {
  display: block;
  margin: 0.5em 0;
  float: left;
  width: 33.333333%;
}

.hotkey {
  z-index: 999;
  padding: 0.25em;
  font-size: 24px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: 0;
  min-width: 100%;
  color: $off-white;
  background-color: rgba($blue, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  &::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    border-top: 10px solid rgba($blue, 0.9);
    border-top: 10px solid rgba($blue, 0.9);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    content: ' ';
    font-size: 0;
    line-height: 0;
  }
}

.hotkey-or {
  padding: 0 0.5em;
}
