.dashboard {
  background: $light-grey;
  font-family: 'Roboto', sans-serif;
}

.dashboard-main-section {
  width: 90%;
  padding: 2em;
  float: left;
  margin-left: 10%;
  min-height: 35em;
  &.active {
    display: block;
  }
}

.sub-section {
  font-size: 1.5rem;
  border: 1px solid $mid-grey;
  background-color: white;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5em 1em;
  background: $mid-grey;
  color: white;
  text-overflow: ellipsis;
}

.config-spinner {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.text-with-icon {
  margin-left: 1em;
}

.checkbox-container {
  display: block;
  margin: 0.5em 0;
  float: left;
  width: 33.333333%;
}
