@import "base/variables";

a {
  color: $blue;
  cursor: pointer;

  &:hover {
    color: $blue-highlight;
    text-decoration: none;
  }
}

.dashboard {
  background: $off-white;
  font-family: 'Roboto', sans-serif;
}

.dashboard-main-section {
  width: calc(100% - #{$menu-width});
  padding: 2em;
  float: left;
  margin-left: $menu-width;
  min-height: 35em;
  &.active {
    display: block;
  }
}

.sub-section {
  font-size: 1.5rem;
  border: 1px solid $mid-grey;
  background-color: white;
  margin-bottom: 1em;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5em;
  background: $mid-grey;
  color: white;
  text-overflow: ellipsis;
}

.section-sub-title {
  font-size: 1.2rem;
  padding-left: 1em;
  color: darken(white, 10%);
  text-overflow: ellipsis;
}

.config-spinner {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.text-with-icon {
  margin-left: 1em;
}

.checkbox-container {
  display: block;
  margin: 0.5em 0;
  float: left;
  width: 33.333333%;
}
