.help-links {
  list-style: none;
  padding: 1em;
}

.help-contents {
  margin: 1em;
}

.help-link-icon {
  font-size: 1.5em;
  margin-right: 0.5em;
}

.help-tracking-table {
  width: 100%;
  margin: 0 0 1em 0;
  tr:nth-child(even) {
    background-color: $light-grey;
  }
}

.help-text {
  margin: 0 0 1em 0;
}

.help-monitor-example-dark {
  text-align: center;
}

.help-monitor-example-light {
  text-align: center;
}