.help-links {
  list-style: none;
  padding: 1em;
}

.help-contents {
  margin: 1em;
}

.help-link-icon {
  font-size: 1.5em;
  margin-right: 0.5em;
}

.help-tracking-table {
  width: 100%;
  margin: 0 0 1em 0;
  tr:nth-child(even) {
    background-color: $light-grey;
  }
}

.help-text {
  margin: 0 0 1em 0;
}

.help-monitor-example-dark {
  text-align: center;
}

.help-monitor-example-light {
  text-align: center;
}

.binding {
  font-family: $monospace;
  color: $off-black;
  border: $mid-grey 1px solid;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #eee, #f9f9f9, #eee);
  padding: 0.1em 0.3em;
  font-size: 0.85em;
}

.help-shortcut-table {
  @extend .help-tracking-table;
  td {
    padding: 0.3em 0 0.3em 0;
  }
}