
.monitor {
  background-color: black;
  color: $off-white2;
  text-align: center;
  font-family: $monospace;
  height: 100vh;
}

.monitor-projects {
  list-style-type: none;
}

.monitor-project {
  float: left;
  margin: 5px;
  border-radius: 25px;
}

.monitor-healthy-building {
  background-color: $healthy-building;
  color: $healthy-building-text;
}

.monitor-sick {
  background-color: $sick;
  color: $off-white2;
}

.monitor-sick-building {
  background-color: $sick-building;
  color: $off-white2;
}

.monitor-unknown {
  background-color: $mid-grey;
}

.monitor-outer-container {
  display: table;
  overflow: hidden;
}

.monitor-inner-container {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding: 10px;
}

.monitor-success-text {
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
}

.monitor-success-image {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

.monitor-time-broken {
  opacity: 0.5;
  font-style: italic;
  width: 100%;
}
