.success-message {
  font-size: 1.5rem;
  width: calc(100% - 15em);
  margin: 1em;
}

.success-message-prompt {
  width: 4.5em;;
  display: inline-block;
}

.success-remove {
  color: black;
  vertical-align: top;
  font-size: 0.3em;
  padding: 1em;
}

.success-message-input {
  width: calc(100% - 8em);
}

.success-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0.5em 0.5em 0.5em 2em;
}

.success-text-list {
  display: block;
}

.success-list-image {
  width: 400px;
  height: 225px;
  object-fit: contain;
  border: 1px solid $mid-grey;
  background-color: black;
}

.success-section {
  flex: 1;
  font-size: 1.5rem;
  border: 1px solid $mid-grey;
  background-color: white;
}

.success-title {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5em 1.5em;
  background: $mid-grey;
  color: #fff;
  text-overflow: ellipsis;
}

.success-item {
  padding: 0.1em;
}