.tracking-cctray-group-cctray-form {
  font-size: 1.5rem;
  margin-bottom: 1em;

  padding: 1.5em;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.tracking-cctray-group-cctray-form-label {
  width: 38px;
  display: inline-block;
}

.tracking-cctray-group-cctray-form-input {
  width: calc(100% - 155px);
  border: none;
  border-bottom: 1px solid $mid-grey;
  &:focus {
    outline: none;
    border-bottom-color: $blue;
  }
}

.tracking-cctray-group-cctray-form-input-small {
  width: 60px;
  text-align: center;
}

.tracking-cctray-group-authentication {
  margin-top: 1em;
  font-size: 17px;
}

.tracking-cctray-group-cctray-form-input-authentication {
  width: 20em;
  margin-right: 1em;
  margin-left: 1em;
}

.tracking-cctray-group-builds {
  border: none;
  margin: 0;
  padding: 0 0 1.5em 0;
}

.tracking-cctray-group-builds-legend {
  color: $mid-grey;
  margin-bottom: 1em;
  float: left;
}

.tracking-cctray-group-build-toggles {
  float: left;
  position: relative;
  top: -0.5em;
  margin-left: 1em;
}

.tracking-cctray-group-build-items {
  clear: both;
}

.tracking-cctray-group-build-item {
  display: block;
  margin: 0.5em 0;
  float: left;
  width: 33.333333%;
}

.tracking-removed-project {
  text-decoration: line-through;
}

.tracking-new-project {
  color: $new-text;
}

.tray {
  flex: 1;
  font-size: 1.5rem;
  border: 1px solid $mid-grey;
  background-color: white;
}

.tray-title {
  font-size: 1.5rem;
  font-weight: 400;
  background: $mid-grey;
  color: #fff;
  text-overflow: ellipsis;
  display: inline;
}

.tray-content {
  padding: 1.5em;
}

.tray-settings {
  padding: 1.5em;
}

.tray-settings-danger-zone {
  border-radius: 3px;
  border: 1px solid $off-white;
  margin-top: 1em;
}

.tray-settings-danger-zone-title {
  background-color: $danger-text;
  color: white;
  padding: 0.5em 1em;
}

.tray-settings-danger-zone-content {
  padding: 1em;
}

.tray-settings-table {
  width: 100%;
  margin: 0 0 1em 0;
  tr {
    height: 3rem;
  }
  tr:nth-child(even) {
    background-color: $light-grey;
  }
  td {
    padding-left: 1.5rem;
  }
  .checkbox {
    top: -5px;
    font-size: 1.1rem;
  }
}

.tray-settings-table-heading {
  width: 25%;
}

.tray-settings-danger-button {
  color: $danger;
  float: right;
  margin: -0.5em 0 0 0;
}

.tray-title-container {
  padding: 0.5em;
  background: $mid-grey;
  color: white;
}

.tray-settings-button {
  font-size: 1.8rem;
  display: inline;
  float: right;
  padding: 0;
  border: none;
  background: none;
  color: white;
}

.tray-hidden-button {
  font-size: 1.8rem;
  display: inline;
  padding: 0;
  border: none;
  background: none;
  color: white;
  margin-right: 0.5em;
}