@import '~normalize.css';
@import './common/fonts/fonts';
@import './common/variables';
@import './common/typography';
@import './common/links';
@import './common/responsive';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-overflow-scrolling: touch;
}

html,
body {
  background: $off-black;
  color: $off-black;
  cursor: default;
  font-family: $normal-font;
  font-size: 16px;
  height: 100%;
  line-height: 1.5;

  @include respond-to(tablet, desktop) {
    font-size: 19px;
  }
}

kbd {
  font-family: $monospace-font;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

a {
  @include link;
}

p {
  line-height: 1.25;
  margin: $margin-top 0 0 0;
}

input {
  font-family: $normal-font;
}

h1 {
  @include font-scale(3);

  line-height: 1.0417;
  margin: 0 0 $margin-top 0;
  outline: none;
}

h2 {
  @include font-scale(2);

  line-height: 1.1111;
}

h3 {
  @include font-scale(1);

  line-height: 1.25;
}

h4,
h5,
h6 {
  @include font-scale(0);

  line-height: 1.3158;
}

pre {
  overflow: scroll;
}

table {
  display: block;
  margin: $margin-top 0 0 0;
  overflow-y: scroll;
  width: 100%;
}

tr:nth-child(even) {
  background-color: $light-grey;
}

td {
  padding: 0.5em;
}
