@use 'common/colours';
@use 'common/typography';
@use 'common/links';
@use 'common/responsive';
@use 'common/layout';
@import '~normalize.css';
@import 'common/fonts/fonts';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-overflow-scrolling: touch;
}

html,
body {
  background: colours.$off-black;
  color: colours.$off-black;
  cursor: default;
  font-family: typography.$normal-font;
  font-size: 16px;
  height: 100%;
  line-height: 1.5;

  @include responsive.respond-to(tablet, desktop) {
    font-size: 19px;
  }
}

kbd {
  font-family: typography.$monospace-font;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

a {
  @include links.link;
}

p {
  line-height: 1.25;
  margin: layout.$spacing-height 0 0 0;
}

input {
  font-family: typography.$normal-font;
}

h1 {
  @include typography.font-scale(3);

  line-height: 1.0417;
  margin: 0 0 layout.$spacing-height 0;
  outline: none;
}

h2 {
  @include typography.font-scale(2);

  line-height: 1.1111;
}

h3 {
  @include typography.font-scale(1);

  line-height: 1.25;
}

h4,
h5,
h6 {
  @include typography.font-scale(0);

  line-height: 1.3158;
}

pre {
  overflow: scroll;
}

table {
  display: block;
  margin: layout.$spacing-height 0 0 0;
  overflow-y: scroll;
  width: 100%;
}

tr:nth-child(even) {
  background-color: colours.$light-grey;
}

td {
  padding: 0.5em;
}
