@import '~normalize.css';
@import './common/fonts/fonts';
@import './common/variables';
@import './common/accessibility';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: $light-grey;
  color: $off-black;
  cursor: default;
  font-family: Roboto, sans-serif;
}

kbd {
  font-family: $monospace;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

a {
  color: $blue;

  &:visited {
    color: $off-black;
  }

  @include interactive($blue, $white, $white);
}

input {
  font-family: Roboto, sans-serif;
}
