@import '~normalize.css';
@import 'common/variables';
@import 'common/fonts/fonts';
@import 'common/fonts/icon-font';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  cursor: default;
  color: $off-black;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background: $light-grey;
}

kbd {
  font-family: $monospace;
}

.text-with-icon {
  margin-left: 1em;
}

.no-text-selection {
  user-select: none;
}

.hidden {
  display: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.pop-up-notification {
  font-size: 1rem;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  background-color: $blue;
  color: white;
  width: calc(#{$menu-width} - 1em);
  position: fixed;
  bottom: 5em;

  &.navigation-show {
    left: 0;
    transition: left 0.5s ease 0s;
  }

  &.navigation-hide {
    left: -$menu-width;
    transition: left 0.5s ease 0s;
  }
}

.pop-up-notification-dismiss {
  float: right;
  font-size: 0.7rem;
  cursor: pointer;

  &:hover {
    color: darken(white, 10%);
  }
}
