@import '~normalize.css';
@import 'common/variables';
@import 'common/fonts/fonts';
@import 'common/fonts/icon-font';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  cursor: default;
  color: $off-black;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background: $light-grey;
}

kbd {
  font-family: $monospace;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.text-with-icon {
  margin-left: 1em;
}

.hidden {
  display: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.pop-up-notification {
  font-size: 1rem;
  padding: 1em;
  background-color: $blue;
  color: $white;
  display: block;

  &.fullscreen {
    display: none;
  }
}

.pop-up-notification-dismiss {
  float: right;
  cursor: pointer;

  &:hover {
    color: darken($white, 10%);
  }
}

.nevergreen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
