@use 'common/colours';
@use 'common/layout';

.content {
  background-color: colours.$white;
  height: 100vh;
  padding: 2em;
}

.deleteConfiguration {
  @include layout.blocking($margin-top: 5em);
}
