@import '../../common/variables';
@import '../../common/responsive';
@import '../../common/forms/button';

.change-password {
  border: 1px solid $light-grey;
  margin-top: 1em;
  padding: 1em;

  .tray-settings-password {
    display: block;
  }

  .cancel {
    @include button();
    @include button-icon('cross');
  }

  .remove {
    @include button();
    @include button-icon('bin');
  }

  .update {
    @include button($off-white, $blue);
    @include button-icon('floppy-disk');
  }

  .cancel,
  .update,
  .remove {
    margin-top: 1em;
  }

  .cancel,
  .remove {
    @include respond-to(tablet, desktop) {
      margin-right: 1em;
    }
  }
}
