@import 'src/client/common/variables';
@import 'src/client/common/layout';

.traySettingsName,
.serverType,
.authType {
  @include fixed-width(26em);
}

.authType {
  margin-top: 1em;
}

.changeAuth {
  margin: $margin-top 0 0 0;
}

.auth {
  border: 1px solid $light-grey;
  margin: $margin-top 0 0 0;
  padding: 1em;

  & > *:first-child {
    margin-top: 0;
  }
}

.includeNew {
  display: block;
}
