@import '../../common/forms/button';
@import '../../common/responsive';

.tray-sub-bar {
  .show-projects {
    @include button-icon('list');

    @extend .button;

    display: block;
    width: 100%;

    @include respond-to(tablet, desktop) {
      display: inline-block;
      width: auto;
    }
  }
}
