@import '../../common/variables';
@import '../../common/responsive';
@import '../../common/typography';
@import '../../common/fonts/icon-font';
@import '../../common/forms/button';
@import '../../common/forms/forms';
@import '../../common/layout';

.label {
  @include fixedWidth(5em);
}

.traySettingsName {
  @extend %first;
}

.traySettingsName,
.serverType,
.traySettingsUsername,
.existingPassword {
  @include fixedWidth(25em);
}

.traySettingsName,
.existingPassword {
  @include respond-to(tablet, desktop) {
    display: inline-flex;
    margin-right: 1em;
  }
}

.dangerZone {
  border: 1px solid $light-grey;
  margin-top: 2em;
}

.dangerZoneTitle {
  @extend .icon-notification;

  background-color: $error;
  color: $white;
  padding: 0.5em 1em;

  &::before {
    margin-right: 1em;
  }
}

.dangerZoneContent {
  padding: 1em;
}

.deleteInfo {
  @extend %inlineMargin;

  display: inline-block;
}

.delete {
  @include button-icon('bin');

  @extend .dangerButton;
}

.random {
  @include button-icon('dice');
}

.changePasswordButton {
  @include button-icon('unlocked');
}

.cancel {
  @include button-icon('cross');

  @extend %inlineMargin;
}

.update {
  @include button-icon('floppy-disk');

  @extend .primaryButton;
}
