@import '../../common/variables';
@import '../../common/responsive';
@import '../../common/fonts/icon-font';
@import '../../common/forms/button';

.tray-settings {
  padding: 1em;

  .tray-settings-name,
  .tray-settings-username,
  .tray-settings-password {
    display: block;
  }

  .tray-settings-name {
    @include respond-to(tablet, desktop) {
      display: inline-block;
    }
  }

  .tray-settings-username,
  .tray-settings-password {
    padding-top: 1em;
  }

  .danger-zone {
    border: 1px solid $light-grey;
    margin-top: 1em;

    .danger-zone-title {
      @extend .icon-notification;

      background-color: $danger;
      color: $white;
      padding: 0.5em 1em;

      &::before {
        @extend .icon;

        margin-right: 1em;
      }
    }

    .content {
      padding: 1em;
    }

    .delete {
      @include button($white, $danger);
      @include button-icon('bin');
    }
  }

  .cancel {
    @include button();
    @include button-icon('arrow-left2');
  }

  .update {
    @include button($off-white, $blue);
    @include button-icon('arrow-right2');
  }

  .cancel,
  .update,
  .delete,
  .random {
    margin-top: 1em;
  }

  .cancel {
    @include respond-to(tablet, desktop) {
      margin-right: 1em;
    }
  }

  .random {
    @include button();
    @include button-icon('dice');

    @include respond-to(tablet, desktop) {
      margin-top: 0;
      margin-left: 1em;
    }
  }

  .loading {
    padding-top: 0;
    padding-bottom: 0;
  }
}
