@import '../../common/variables';
@import '../../common/responsive';
@import '../../common/typography';
@import '../../common/fonts/icon-font';
@import '../../common/forms/button';

.tray-settings {
  .tray-settings-name,
  .tray-settings-username,
  .existing-password,
  .server-type {
    display: block;

    @include respond-to(tablet, desktop) {
      span {
        width: 5em;
      }

      input,
      select {
        width: 15em;
      }
    }
  }

  .tray-settings-url {
    @include respond-to(tablet, desktop) {
      display: flex;

      span {
        width: 5em;
      }

      input {
        width: auto;
        flex-grow: 1;
      }
    }
  }

  .tray-settings-name,
  .existing-password {
    @include respond-to(tablet, desktop) {
      display: inline-block;
    }
  }

  .tray-settings-url,
  .tray-settings-username,
  .existing-password,
  .server-type {
    padding-top: 1.5em;
  }

  .danger-zone {
    border: 1px solid $light-grey;
    margin-top: 2em;

    .danger-zone-title {
      @extend .icon-notification;

      background-color: $danger;
      color: $white;
      padding: 0.5em 1em;

      &::before {
        @extend .icon;

        margin-right: 1em;
      }
    }

    .content {
      padding: 1em;
    }
  }

  .delete,
  .random,
  .change-password-button,
  .cancel,
  .update {
    margin-top: 1em;

    @include respond-to(tablet, desktop) {
      margin-top: 0;
      margin-left: 1em;
    }
  }

  .delete {
    @include button($white, $danger);
    @include button-icon('bin');
  }

  .random {
    @include button($off-black, $white, $light-grey);
    @include button-icon('dice');
  }

  .change-password-button {
    @include button($off-black, $white, $light-grey);
    @include button-icon('unlocked');
  }

  .cancel {
    @include button($off-black, $white, $light-grey);
    @include button-icon('cross');
  }

  .update {
    @include button($off-white, $blue);
    @include button-icon('floppy-disk');
  }
}
