@import '../common/forms/button';
@import '../common/responsive';

.container {
  padding: 1em;
}

.soundFx {
  @include respond-to(tablet, desktop) {
    align-items: baseline;
    clear: both;
    display: flex;

    .soundFxInput {
      align-items: baseline;
      display: flex;
      flex-grow: 1;

      input {
        flex-grow: 1;
        width: auto;
      }
    }
  }
}

.testSoundFx {
  @include button($off-black, $white, $light-grey);

  margin-top: 1em;

  @include respond-to(tablet, desktop) {
    margin-left: 1em;
    margin-top: 0;
  }
}

.play {
  @include button-icon('play3');
}

.stop {
  @include button-icon('stop2');
}

.playbackErrors {
  margin-top: 1em;
}
