@import '../common/forms/button';
@import '../common/responsive';
@import '../common/layout';

.container {
  padding: 1em;
}

.checkboxWrapper {
  display: inline-block;
}

.playSfxs {
  @extend %first;
}

.soundFx {
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5em;

  @include respond-to(tablet, desktop) {
    flex-wrap: nowrap;
  }
}

.brokenBuildSfx {
  flex-grow: 1;
  margin-top: 0;

  @include respond-to(tablet, desktop) {
    margin-right: 1em;
  }
}

.play {
  @include button-icon('play3');
}

.stop {
  @include button-icon('stop2');
}

.playbackErrors {
  margin-top: 1em;
}
