@import '../common/variables';
@import '../common/responsive';

.title {
  padding-bottom: 1em;
}

.previewSection {
  margin-top: $margin-top;
}

.displayPreview {
  background-color: $black;
  height: 550px;
  min-height: 250px;
  overflow: scroll;
  resize: vertical;

  @include respond-to(tablet) {
    height: 450px;
  }

  @include respond-to(desktop) {
    height: 350px;
  }
}
