@import '../common/variables';

.container {
  padding: 1em;
}

.checkbox {
  display: block;
  white-space: nowrap;
  width: 0;
}

.title {
  padding: 1em 0;
}

.displayPreview {
  background-color: $black;
  border-radius: 5px;
  font-family: $monospace;
  height: 15em;
  text-align: center;
}
