@import '../common/variables';
@import '../common/layout';
@import '../common/responsive';
@import '../common/forms/button';
@import '../common/fonts/icon-font';

.container {
  padding: 1em;
}

.showTrayName {
  @extend %first;
}

.dropDownLabel {
  @include respond-to(tablet, desktop) {
    display: inline-block;
    width: 12em;
  }
}

.dropDown {
  @include respond-to(tablet, desktop) {
    width: 35em;
  }
}

.preview.preview {
  @extend .icon-eye;
  @extend .withIcon;

  margin-top: $margin-top;
}
