@import '../common/responsive';
@import '../common/layout';

.container {
  padding: 1em;
}

.refreshTime {
  @extend %first;

  @include respond-to(tablet, desktop) {
    width: 30em;
  }
}

.clickToShowHelp {
  margin: $margin-top 0 0 0;
}
