@use '../common/colours';
@use '../common/typography';

.preview {
  background-color: colours.$black;
  color: colours.$off-white;
  cursor: inherit;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.projects {
  flex: 1;
  font-family: typography.$monospace-font;
  position: relative;
}

.projectsInner {
  height: 100%;
  position: absolute;
  width: 100%;
}
