@import '../common/layout';
@import '../common/forms/button';
@import '../common/forms/text';

.audio-visual {
  @extend .main-section;

  .label-checkbox {
    display: block;
  }

  .sound-fx {
    margin-top: 0.5em;

    input {
      width: calc(100% - 14em);
    }
  }

  .test-sound-fx {
    @include button-icon('play3');

    @extend .button;
  }

  .messages {
    margin-top: 1em;
  }

  .refresh-time {
    @extend .text-input;

    display: inline-block;
    padding-bottom: 0.5em;
    margin-top: 0;

    input {
      text-align: right;
      width: 5rem;
    }
  }
}
