@import '../common/layout';
@import '../common/forms/button';
@import '../common/forms/text';
@import '../common/responsive';

.audio-visual {
  @extend .main-section;

  .label-checkbox {
    display: block;
  }

  .sound-fx {
    margin-top: 0.5em;

    input {
      width: 100%;
    }

    @include respond-to(tablet, desktop) {
      display: flex;
      align-items: baseline;

      .sound-fx-input {
        display: flex;
        align-items: baseline;
        flex-grow: 1;

        input {
          flex-grow: 1;
          width: auto;
        }
      }
    }
  }

  .test-sound-fx {
    @include button();
    @include button-icon('play3');

    margin-top: 1em;

    @include respond-to(tablet, desktop) {
      margin-top: 0;
    }
  }

  .messages {
    margin-top: 1em;
  }

  .refresh-time {
    @extend .text-input;

    display: inline-block;
    padding-bottom: 0.5em;
    margin-top: 0;

    input {
      text-align: right;
      width: 5rem;
    }
  }
}
