@import '../variables';
@import '../typography';
@import '../fonts/icon-font';
@import '../accessibility';

.loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

.pulse {
  @include font-scale(4);

  @extend .icon;
  @extend .icon-circle;

  animation: bounce 1.4s infinite ease-in-out both;
  color: $mid-grey;
  display: inline-block;
  padding: 0.5rem;

  &:nth-of-type(1) {
    animation-delay: -0.32s;
  }

  &:nth-of-type(2) {
    animation-delay: -0.16s;
  }

  @keyframes bounce {
    0% {
      transform: scale(0);
    }

    40% {
      transform: scale(1);
    }

    80% {
      transform: scale(0);
    }

    100% {
      transform: scale(0);
    }
  }
}

.loadingText {
  @extend %visuallyHidden;
}
