@import '../variables';
@import '../typography';

.loading {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 100%;
  width: 100%;

  .pulse {
    @include font-scale(4);

    display: inline-block;
    color: $mid-grey;
    padding: 0.5rem;
    animation: bounce 1.4s infinite ease-in-out both;

    &:nth-of-type(1) {
      animation-delay: -0.32s;
    }

    &:nth-of-type(2) {
      animation-delay: -0.16s;
    }

    @keyframes bounce {
      0% {
        transform: scale(0);
      }

      40% {
        transform: scale(1);
      }

      80% {
        transform: scale(0);
      }

      100% {
        transform: scale(0);
      }
    }
  }
}
